{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{{ _('SecInv') }}{% endblock %}</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="{{ MEDIA_URL }}js/html5.js"></script>

    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/favicon.ico">

    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/reset.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/general.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/grid.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/style.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.8.1.custom.css"
          media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/ui.tabs.css" media="screen">

    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/ie.css" media="screen">
    <![endif]-->

    <script type="text/javascript"
            src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript"
            src="{{ MEDIA_URL }}js/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript"
            src="{{ MEDIA_URL }}js/main.js"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div id="wrap" class="row">
      <header>
        <figure class="logo">
          <h1><a href="{% url index %}"><strong>Sec</strong>Inv</a></h1>
        </figure>
        <p class="login right">
        {% if user.is_authenticated %}
          {{ _('Welcome,') }} <strong>{{ user.username }}</strong>.
          <a href="{% url admin:index %}">{{ _('Admin panel') }}</a> /
          <a href="{% url admin:password_change %}">{{ _('Change password') }}</a> /
          <a href="{% url auth-logout %}">{{ _('Log out') }}</a>
        {% endif %}
        </p>
        <div class="clear"></div>
        <nav role="navigation">
          <ul>
            <li class="machines">
              <a href="{% url machines-index %}" class="button black pill">{{ _('Machines') }}</a>
            </li>
            <li class="webapps">
              <a href="{% url webapps-index %}" class="button black pill">{{ _('Web Applications') }}</a>
            </li>
            <li class="profiles">
              <a href="{% url machines-index %}" class="button black pill">{{ _('Vector Profiles') }}</a>
            </li>
          </ul>
          <form action="{% url machines-search %}" method="get">
            <label for="q">{{ _('Search') }}</label>
            <input type="search" name="q" id="q" value="{{ query|escape }}">
            <input type="submit" class="button pill lightblue" value="Search">
          </form>
          <div class="clear"></div>
        </nav>
      </header>

      <div id="row" class="content-wrap">
        <section id="content" class="content col_13 col"> <!-- col_11 -->
{% block content %}{% endblock %}
        </section><!-- #content -->

        <aside id="sidebar" class="col_7 col"> <!-- col_5 -->
{% block sidebar %}{% endblock %}
        </aside>

        <div class="clear"></div>
      </div>

    </div><!-- #wrap -->

    <footer class="row">
      <section class="col_10 col align_left"> <!-- col_8 -->
        &copy; {{ _('Copyright 2010, Mozilla Corporation. All rights reserved.') }}
      </section>
      <section class="col_10 col align_right"> <!-- col_8 -->
        <a href="">{{ _('Licensed under MPL 1.1 / GPL 2.0 / LGPL 2.1') }}</a>
      </section>
    </footer>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/actions.js"></script>

  </body>
</html>
