@charset "utf-8";
/* 
html5doctor.com Reset Stylesheet
v1.4 
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
	font: 75%/1.5em Helvetica, "Liberation Sans", "Bitstream Vera Sans", sans-serif;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
.highlight {
    background-color: #ff6;
    font-weight: bold;
}

li ins,
td ins {
    background-color: #fff;
    color: #080; /* Green */
}

mark {
    background-color: #ff9;
    color: #000; 
    font-weight: bold;
}
li mark,
td mark {
    background-color: #fff;
    color: #c50; /* Burnt orange */
    font-weight: normal;
}

del {
    color: #800; /* Red */
    text-decoration: line-through;
}
del.visible {
    text-decoration: none;
}

abbr[title], dfn[title] {
    border-bottom: #000 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #ccc 1px solid;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* HTML 5 block elements */
article, aside, details, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
