body {
    background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	background: linear-gradient(top,  #fff,  #ededed);
	margin-bottom: 20px;
}

body, header {
    background: #ddd;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

/* @group Header */
header figure {
    padding: 10px 0;
}

h1 {
    line-height: 1.3;
    padding: 0 10px;
}
header .logo {
    font-size: 1.5em;
/*    font-weight: 700; */

    text-shadow: 0 2px 1px #999;
    /*filter: Shadow(Color=#666666, Direction=135, Strength=3);*/
}
header .logo a {
    font-family: "American Typewriter", Georgia, serif;
    color: #666;
    text-decoration: none;
}
header .logo a:hover {
    color: #60cff5;
}
header .logo a:hover strong {
    color: #00648d;
}

header .logo strong {
    color: #333;
}

header nav {
    background: #008cc2;
    background: -webkit-gradient(linear, left top, left bottom, from(#4dcce7), to(#3acf2a));
    background: -moz-linear-gradient(top, #73d2f3, #008cc2);
    background: linear-gradient(top, #73d2f3, #008cc2);

    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom: #00648d 1px solid;
    color: #fff;
    padding: 10px;
    position: relative;
}
header nav ul {
    list-style: none;
}
header nav ul li:first-child {
    margin-left: 0;
}
header nav ul li {
    display: inline-block;
    margin-left: 0.5em;
}
/*
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
    background-color: #9dd1e6;
    border: #75cae9 1px solid;
    margin-bottom: -2px;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
	text-shadow: 0 1px 0 #0da8d5;
    padding: 8px 16px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 0 1px 3px #fff, inset 0 -2px #cbe6f2, 0 0 3px #8ec1da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -2px #cbe6f2, 0 0 3px #8ec1da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -1px #cbe6f2, 0 0 3px #8ec1da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -1px #cbe6f2, 0 0 3px #8ec1da;
}
*/


body.machines header nav ul li.machines a,
body.machines header nav ul li.machines a:hover,
body.devices header nav ul li.devices a,
body.devices header nav ul li.devices a:hover,
body.profiles header nav ul li.profiles a,
body.profiles header nav ul li.profiles a:hover,
body.config header nav ul li.config a,
body.config header nav ul li.config a:hover {
    text-decoration: none;
	text-shadow: 0 1px 0 #000;
	line-height: 2.2;
	-moz-box-shadow:
		0 0.33em 1em rgba(0, 0, 0, 0.67) inset,
		1px 1px 0 rgba(255, 255, 255, 0.25) inset, 
		-1px -1px 0 rgba(255, 255, 255, 0.25) inset;
	-webkit-box-shadow:
		0 0.33em 2em rgba(0, 0, 0, 0.67) inset,
		1px 1px 0 rgba(255, 255, 255, 0.25) inset, 
		-1px -1px 0 rgba(255, 255, 255, 0.25) inset;
	box-shadow:
		0 0.33em 2em rgba(0, 0, 0, 0.67) inset,
		1px 1px 0 rgba(255, 255, 255, 0.25) inset, 
		-1px -1px 0 rgba(255, 255, 255, 0.25) inset;
		-webkit-transition: line-height 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
/*
        box-shadow: inset 0 1px 3px #fff, inset 0 -2px #cbe6f2, 0 0 3px #8ec1da;
        -o-box-shadow: inset 0 1px 3px #fff, inset 0 -2px #cbe6f2, 0 0 3px #8ec1da;
        -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -1px #cbe6f2, 0 0 3px #8ec1da;
        -moz-box-shadow: inset 0 1px 3px #771111, inset 0 0 #cbe6f2, 0 0 3px #8ec1da;
*/

    background: #c42629;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -moz-linear-gradient(top, #0a88b8, #30adda);
    background: linear-gradient(top, #0a88b8, #30adda);
}


/* @group Sidebar */
aside#sidebar {
    padding-top: 10px;
    min-height: 325px;
}
aside#sidebar h2 {
    position: absolute;
    left: -9999px;
}
/* @end */

.submit, .submit:visited {
    background: #525252; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

footer {
    font-size: 0.8em;
    position: relative;
    padding: 10px 0;

    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#333));
    background: -moz-linear-gradient(top, #aaa, #333);
    background: linear-gradient(top, #aaa, #333);

    border-top: #333 1px solid;

    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    color: #fff;
}
footer a {
    color: #ddd;
    text-decoration: none;
}
footer a:hover {
    color: #bbb;
}

/* @group Headings */

/* size headings using classic scale of 16, 18, 24, 36 */

h1 {
    font-size: 2.571em /* 36px */;
    line-height: 1em /* 36px */;
    margin-top: 0.1667em /* 6px */;
    margin-bottom: 0.5833em /* 21px */;
}
h1 { margin: 0; }

h2 {
    font-size: 2.154em /* 28px */;
    font-weight: normal;
    line-height: 1em /* 28px */;
    margin-top: 0.5em /* 42px */;
    margin-bottom: 0.5em /* 14px */;
    color: #c63717;
}
h3 {
    color: #011234;
    font-size: 1.385em /* 18px */;
    font-weight: normal;
    line-height: 1.111em /* 20px */;
    margin-top: 1.556em /* 28px */;
    margin-bottom: 0.778em /* 14px */;
}
h4 {
    color: #223355;
    font-size: 1em /* 13px */;
}
h5, h6 {
    font-size: 1em /* 13px */;
}

h3 em {
    color: #666;
    font-weight: normal;
    display: inline-block;
    font-size: 0.6em;
    font-style: normal;
    text-shadow: none;
}

/* @end */

/* @group Tables */

table {
    border-bottom: #665 1px solid;
    width: 100%;
}

caption {
    display: none;
    font-size: 1.231em; /* 16px */
    font-weight: bold;
    padding-bottom: 0.539em; /* 7px */
}

thead th {
    border-top: #666 1px solid;
    border-bottom: #666 3px solid;
    padding-top: 0;
    padding-bottom: 0.539em; /* 7px */
}

tbody {
    border-top: #666 3px solid; /* not rendered in IE6/7 */
}

thead tr th,
tbody tr td {
    border-top: #ddd 1px solid;
}

th, td {
    text-align: left;
    padding: 0.308em 0.537em 0.214em 0.231em; /* 4px 7px 3px 7px */
}

td {
    vertical-align: middle;
}

td.timestamp {
    color: #666;
    font-size: 0.9em;
}

.timestamp {
    width: 25%;
}

tbody tr.every_other td {
    border-top-color: #fff;
}

th.pair_name,
td.pair_name {
    width: 215px;
}
.pair_value {
}

/* @group Nested tables */
table.nested>tbody>tr>td {
    border-top-color: #666;
}

tbody tbody tr:first-child td {
    border-top-width: 0;
}
tbody td[colspan] {
    padding: 0;
}
table table {
    border-bottom-width: 0;
}
tbody tbody {
    border-top-width: 0;
}
/* @end */

table.wide {
    border-bottom-color: #ddd;
    margin: -10px -10px 0 -10px;
/*    width: 660px; *//* .col_11 width + 10px margins */
    width: 780px; /* .col_13 width + 10px margins */
}

/* TODO: temporary */
table.wide thead tr th {
    background-color: #ededed;
    white-space: nowrap;
}

table.wide thead tr th,
table.wide tbody td {
    text-align: center;
    padding: 4px 8px;
}

table.wide thead th {
    border-bottom-width: 1px;
}

table.wide tbody {
    border-top-width: 0;
}

table.wide thead tr th,
table.wide tbody tr td {
    border-top-width: 0;
    border-right: #ddd 1px solid;
}

table.wide thead tr th:last-child,
table.wide tbody tr td:last-child {
    border-right-width: 0;
}

table.wide thead tr th {
    border-right-color: #666;
}

table.wide time {
    font-size: 0.9em;
}

/* @end */


/* @group Forms */

/*
input[type=search] {
    border: #000 1px solid;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;

    background-color: #ddeef6;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
}
*/
header nav form {
    position: absolute;
    right: 10px;
    top: 10px;
}
header nav form label {
    color: #fff;
    float: left;
    line-height: 2em;
    padding-right: 0.5em;
}

fieldset {
    padding: 1em;
}

nav form {
	display: inline-block;
	zoom: 1;  /* ie7 hack for display:inline-block */
	*display: inline;
}
header form label {
    display: block;
    position: absolute;
    left: -9999px;
}
header form input {
/*	font: normal 12px/100% Helvetica, Arial, sans-serif; */
}

input#q, input[type=text], input[type=search] {
	background-color: #fff;
	border: #333 1px solid;
	color: #666;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);

	padding: 4px 6px 4px 8px;
	width: 202px;
}
input#q:focus {
    border-color: #000;
    color: #000;
}


header form button {
	color: #000;
	cursor: pointer;

	font-size: 11px;
	position: relative;
	bottom: -2px;
	height: 32px;
	width: 40px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em 2em 2em 2em;
	border-radius: 2em;

	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dde1e5));
	background: -moz-linear-gradient(top,  #fff,  #dde1e5);

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
header form button strong {
/*    background: url(../img/search.png) 50% 50% no-repeat; */
    display: block;
}


/* @group Buttons */
/*
Based on CSS3 buttons from
http://somadesign.ca/demos/buttons-redux.html
*/
.button, input[type=button], input[type=submit], button {
	text-decoration: none;
	border-color: #888;
	border-color: rgba(0, 0, 0, 0.56);
	cursor: pointer;
	outline: none;
	color: #111;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Segoe UI", Verdana, sans-serif; /* TODO: revise */
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background-color: #aaa;
	background-image: url(gradient.png); /* TODO: Remove */
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	background-repeat: repeat-x;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
	line-height: 2;
/*	margin: 0 0 2em 1em; */
	padding: 0 1em;
	height: 2em;
	-moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset, -1px -1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset, -1px -1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset, -1px -1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-transition: background 0.185s linear;
	-moz-transition: all 0.185s linear;
	-o-transition: all 0.185s linear;
	transition: all 0.185s linear;
	/* Make the text unselectable. */
	-moz-user-select: none;
	-webkit-user-select: none;
}
.button, .button:after,
button, button:after,
input[type=submit], input[type=button] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
}
.button:after, button:after {
	display: block;
	position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	border-color: transparent transparent #ccc;
	border-color: transparent transparent rgba(255, 255, 255, 0.67);
	bottom: -2px;
	left: -1px;
}
.button:hover, .button:focus,
button:hover, button:focus,
input[type=button]:hover, input[type=button]:focus,
input[type=submit]:hover, input[type=submit]:focus {
	background-color: #a8c0cb;
	text-decoration: none;
}
.button:active, button:active,
input[type=submit]:active, input[type=button]:active {
	line-height: 2.2;
	-moz-box-shadow:
		0 0.33em 1em rgba(0, 0, 0, 0.67) inset,
		1px 1px 0 rgba(255, 255, 255, 0.25) inset, 
		-1px -1px 0 rgba(255, 255, 255, 0.25) inset;
	-webkit-box-shadow:
		0 0.33em 2em rgba(0, 0, 0, 0.67) inset,
		1px 1px 0 rgba(255, 255, 255, 0.25) inset, 
		-1px -1px 0 rgba(255, 255, 255, 0.25) inset;
	box-shadow:
		0 0.33em 2em rgba(0, 0, 0, 0.67) inset,
		1px 1px 0 rgba(255, 255, 255, 0.25) inset, 
		-1px -1px 0 rgba(255, 255, 255, 0.25) inset;
		-webkit-transition: line-height 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
}
.button.bg,
.button.bg:hover,
.button.bg:focus {
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0)));
}

/* Colors/Styles */
.button.cyan {
	background-color: #30adda;
	color: #000;
	text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3);
}
.button.cyan:hover {
	background-color: #0a88b8;
}


.button.blue {
	background-color: #9eb4bf;
}
.button.blue:hover {
	background-color: #b4cdda;
}
.button.darkblue {
	background-color: #046;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.button.darkblue:hover {
	background-color: #00547e;
}
.button.red {
	background-color: #900;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.button.red:hover {
	background-color: #b30000;
}
.button.pink {
	background-color: #f44;
	color: #000;
	text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3);
}
.button.pink:hover {
	background-color: #ff5e5e;
}

.button.pill, .button.pill:before, .button.pill:after {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
.button.black {
	background-color: #000;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.button.black:hover {
	background-color: #222;
}
.button.sharp {
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.33) 50%, transparent 50%, transparent 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
		from(rgba(255, 255, 255, 0.75)),
		color-stop(0.5, rgba(255, 255, 255, 0.33)),
		color-stop(0.5, transparent ),
		to(transparent)
	);
	background-repeat: repeat-x;
}
.button.small {
	font-size: 10px;
}
.button.large {
	font-size: 15px;
}
.button.webkit {
	-webkit-transition: all .185s linear;
}
/* @end */


/* @group Content */

hgroup#masthead {
    background: #f1f1f1;
	background: -webkit-gradient(radial, left top, left bottom, from(#000), to(#666));
	background: -moz-radial-gradient(top left, #666, #000);
	background: radial-gradient(top left, #666, #000);
    margin: 0 -10px 10px -11px;
    padding: 20px 10px 20px 10px;
    position: relative;
}
hgroup#masthead h2,
hgroup#masthead h4 {
    color: #fff;
    font-size: 2em;
	font-weight: bold;
    text-shadow: #000 0 1px 1px;
    margin: 0;
}
hgroup#masthead h2.sub {
    position: absolute;
    left: -9999px;
}
hgroup#masthead h3 {
    color: #000;
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    text-shadow: #999 0 0 1px;
    line-height: 1;
    margin: 0;
}
hgroup#masthead h3.sub {
    font-size: 2.5em;
}
hgroup#masthead h3 a {
    color: #000;
    text-decoration: none;
}
hgroup#masthead h3 a:hover {
    color: #333;
}
hgroup#masthead h3 a:hover em {
    color: #999;
}


hgroup#masthead h4 {
    font-size: 3em;
}


#wrap {
    background-color: #fff;
    background: #ededed;
}
#content-wrap {
    border: #999 1px solid;
    float: left;
}

#content.col {
    background-color: #fff;
    border: #999 1px solid;
    border-width: 0 1px;
    padding: 0 10px 10px 10px;
    margin-left: 0;
    margin-right: -2px;
    min-height: 325px;
    overflow: visible;
}

/*
.tabs .history>table>tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
*/

/*
.tabs .history>table {
    width: 320px;
}
.tabs .history>table>thead>th {
    position: fixed;
}
.tabs .history>table>tbody {
height: 200px;
    overflow: scroll;
}
*/


.tabs table thead th {
    vertical-align: middle;
}
.tabs table td {
    vertical-align: top;
}

#rpms-latest ul {
    height: 200px;
    overflow: auto;
}

#rpms-history li {
    padding-left: 1em;
    text-indent: -1em;
}
#rpms-history li:first-line {
    text-indent: 1em;
}

#iptables-latest, #iptables-history {
    font-size: 0.9em;
}

/* Last Modified */
h4.group {
    float: left;
}
details.date {
    float: right;
}

/* Details legend and diff circles */

details.differences {
    border: #ccc 1px solid;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    position: relative;
}
details.differences summary {
    background-color: #eee;
    border: #ccc 1px solid;
    padding: 0.25em 1em;
    margin: -1px;
}

details.differences summary,
details.differences dl,
details.differences dt,
details.differences dd {
    display: inline-block;
}

details.differences dl {
    position: absolute;
    top: 0.4em;
    right: 0;
}

/*.enabled mark,
.disabled mark,*/
figure.added,
figure.changed,
figure.deleted {
    background: black;
    -moz-border-radius: 135px;
    -webkit-border-radius: 135px;
    border-radius: 135px;
    display: block;
    height: 1px;
    width: 1px;
    padding: 5px;
}

/*.enabled mark,*/
figure.added {
    background-color: #080;
}
figure.changed {
    background-color: #c50;
}
/*.disabled mark,*/
figure.deleted {
    background-color: #800;
}

.enabled mark {
    color: #080;
    display: block;
}
.disabled mark {
    color: #800;
}

.enabled mark,
.disabled mark {
    margin: 0 auto;
/*    text-indent: -9999px; */
}

details.differences dd {
    margin-right: 1em;
    position: relative;
    top: -1px;
}

/* @end */


/* @group Differences and code blocks */

.tabs pre code {
    height: 400px;
    overflow: scroll;
}

/* @group Pygments highlighting */

.highlight {
    overflow: auto;
    max-height: 400px;
    width: 500px;   
}

.highlight .hll { background-color: #ffffcc; }
.highlight  { background: #f8f8f8;; }
.highlight .c { color: #408080; font-style: italic; } /* Comment */
.highlight .err { border: 1px solid #FF0000; } /* Error */
.highlight .k { color: #008000; font-weight: bold; } /* Keyword */
.highlight .o { color: #666666; } /* Operator */
.highlight .cm { color: #408080; font-style: italic; } /* Comment.Multiline */
.highlight .cp { color: #BC7A00; } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic; } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic; } /* Comment.Special */
.highlight .gd { color: #A00000; } /* Generic.Deleted */
.highlight .ge { font-style: italic; } /* Generic.Emph */
.highlight .gr { color: #FF0000; } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold; } /* Generic.Heading */
.highlight .gi { color: #00A000; } /* Generic.Inserted */
.highlight .go { color: #808080; } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold; } /* Generic.Prompt */
.highlight .gs { font-weight: bold; } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; } /* Generic.Subheading */
.highlight .gt { color: #0040D0; } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold; } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold; } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold; } /* Keyword.Namespace */
.highlight .kp { color: #008000; } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold; } /* Keyword.Reserved */
.highlight .kt { color: #B00040; } /* Keyword.Type */
.highlight .m { color: #666666; } /* Literal.Number */
.highlight .s { color: #BA2121; } /* Literal.String */
.highlight .na { color: #7D9029; } /* Name.Attribute */
.highlight .nb { color: #008000; } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold; } /* Name.Class */
.highlight .no { color: #880000; } /* Name.Constant */
.highlight .nd { color: #AA22FF; } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold; } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold; } /* Name.Exception */
.highlight .nf { color: #0000FF; } /* Name.Function */
.highlight .nl { color: #A0A000; } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold; } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold; } /* Name.Tag */
.highlight .nv { color: #19177C; } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold; } /* Operator.Word */
.highlight .w { color: #bbbbbb; } /* Text.Whitespace */
.highlight .mf { color: #666666; } /* Literal.Number.Float */
.highlight .mh { color: #666666; } /* Literal.Number.Hex */
.highlight .mi { color: #666666; } /* Literal.Number.Integer */
.highlight .mo { color: #666666; } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121; } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121; } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic; } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121; } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold; } /* Literal.String.Escape */
.highlight .sh { color: #BA2121; } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold; } /* Literal.String.Interpol */
.highlight .sx { color: #008000; } /* Literal.String.Other */
.highlight .sr { color: #BB6688; } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121; } /* Literal.String.Single */
.highlight .ss { color: #19177C; } /* Literal.String.Symbol */
.highlight .bp { color: #008000; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C; } /* Name.Variable.Class */
.highlight .vg { color: #19177C; } /* Name.Variable.Global */
.highlight .vi { color: #19177C; } /* Name.Variable.Instance */
.highlight .il { color: #666666; } /* Literal.Number.Integer.Long */


/* @end */


/* @end */

