{% load i18n %}
{% load machine_extras %}

      <section class="tabs">
        <ul>
          <li><a href="#apacheconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#apacheconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="apacheconfig-latest" class="latest">
        {% if apacheconfig %}
          <h4 class="group">{{ apacheconfig.filename }}</h4>
            {% if apacheconfig.date_added %}
          <details class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ apacheconfig.date_added|date:'c' }}">
              {{ apacheconfig.date_added }}
            </time>
          </details>
            {% endif %}
          <div class="clear"></div>

          {{ apacheconfig_latest_body|safe }}

          <h5>{{ _('Domains in this file') }}</h5>
          {% if apacheconfig.domains %}
          <ul>
            {% for domain, ports in apacheconfig.domains.items %}
            <li>{{ domain }} ({{ ports|join:', ' }})</li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="none">{{ _('None') }}</p>
          {% endif %}

          <h5>{{ _('Includes') }}</h5>
          {% if ac_includes %}
          <ul class="hierarchy">
          {% get_nested_items 'filename' machine.id %}
          {{ ac_includes|unordered_list }}
          {% endget_nested_items %}
          </ul>
          {% else %}
          <p class="none">{{ _('None') }}</p>
          {% endif %}

        {% endif %}
        </div><!-- #apacheconfig-latest -->
        <div id="apacheconfig-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="cmp">{{ _('Compare against') }}</th>
                <th>{{ _('Filename') }}</th>
                <th>{{ _('Revision') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for ac_ver in apacheconfig_versions %}
              <tr>
                <td class="cmp">
                  {% if ac_ver.is_newest %}{{ _('(current)') }}{% else %}
                  <a href="{% url diff-ac machine_slug=machine.hostname, section_slug='apacheconfig', item_id=ac_ver.fields.id, version_number=ac_ver.version, compare_with='current' %}">{{ _('(current)') }}</a>
                  {% endif %}

                  <a href="{% url diff-ac machine_slug=machine.hostname, section_slug='apacheconfig', item_id=ac_ver.fields.id, version_number=ac_ver.version, compare_with='previous' %}">{{ _('(previous)') }}</a>
                </td>
                <td>
                  <a href="{% url apacheconfig machine_slug=machine.hostname, ac_id=ac_ver.fields.id %}">{{ ac_ver.fields.filename }}</a>
                </td>
                <td>
                  <!--{{ _('Version') }} #-->{{ ac_ver.version }}
                </td>
                <td class="timestamp">
                  <time datetime="{{ ac_ver.fields.date_added|date:'c' }}">
                    {{ ac_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #apacheconfig-history -->
      </section>
