{% load i18n %}
{% load machine_extras %}

      <section class="tabs">
        <ul>
          <li><a href="#sshconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#sshconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="sshconfig-latest" class="latest">
        {% if sshconfig and sshconfig.filename %}
          <h4 class="group">{{ sshconfig.filename }}</h4>

          <details class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ sshconfig.date_added|date:'c' }}">
              {{ sshconfig.date_added }}
            </time>
          </details>
          <div class="clear"></div>

          {{ sshconfig.body|highlight:'apacheconf' }}

        {% else %}
          <p class="none">{{ _('Not available') }}</p>
        {% endif %}
        </div><!-- #sshconfig-latest -->
        <div id="sshconfig-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="cmp">{{ _('Compare against') }}</th>
                <!--<th>{{ _('Filename') }}</th>-->
                <th>{{ _('Revision') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for sc_ver in sshconfig_versions %}
              <tr>
                <td class="cmp">
                  {% if sc_ver.is_newest %}{{ _('(current)') }}{% else %}
                  <a href="{% url diff machine_slug=machine.hostname, section_slug='sshconfig', version_number=sc_ver.version, compare_with='current' %}">{{ _('(current)') }}</a>
                  {% endif %}

                  <a href="{% url diff machine_slug=machine.hostname, section_slug='sshconfig', version_number=sc_ver.version, compare_with='previous' %}">{{ _('(previous)') }}</a>
                </td>
                <!--<td>{{ sc_ver.fields.filename }}</td>-->
                <td>{{ sc_ver.version }}</td>
                <td class="timestamp">
                  <time datetime="{{ sc_ver.fields.date_added|date:'c' }}">
                    {{ sc_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #sshconfig-history -->
      </section>
