{% extends "machines/base.html" %}
{% load i18n %}

{% block head_title %}{{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
      <h2><em>{{ machine.sys_ip }}</em> {{ machine.hostname }}</h2>

      <table>
        <caption>{{ _('Machine details') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('IP address') }}</th>
            <td>{{ machine.sys_ip }}</td>
          </tr>
          <tr>
            <th>{{ _('Hostname') }}</th>
            <td>{{ machine.hostname }}</td>
          </tr>
          <tr>
            <th>{{ _('External IP address') }}</th>
            <td>{{ machine.ext_ip }}</td>
          </tr>
{# TODO: uniform date format #}
          <tr>
            <th>{{ _('Added') }}</th>
            <td>
              <time datetime="{{ machine.date_added }}">
                {{ machine.date_added }}
              </time>
            </td>
          </tr>
          <tr>
            <th>{{ _('Updated') }}</th>
            <td>
              <time datetime="{{ machine.date_updated }}">
                {{ machine.date_updated }}
              </time>
            </td>
          </tr>
          <tr>
            <th>{{ _('Scanned') }}</th>
            <td>
              <time datetime="{{ machine.date_scanned }}">
                {{ machine.date_scanned }}
              </time>
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <caption>{{ _('System') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('Kernel release') }}</th>
            <td>{{ system.kernel_rel }}</td>
          </tr>
          <tr>
            <th>{{ _('RedHat release') }}</th>
            <td>{{ system.rh_rel }}</td>
          </tr>
          <tr>
            <th>{{ _('NFS mounted?') }}</th>
            <td>{{ system.nfs }}</td>
          </tr>
          <tr>
            <th>{{ _('Updated') }}</th>
            <td>
              <time datetime="{{ services.date_updated }}">
                {{ system.date_updated }}
              </time>
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <caption>{{ _('Services') }}</caption>
        <!--
          {{ _('Updated') }} <time datetime="{{ services.date_updated }}">
            {{ system.date_updated }}
          </time>
        -->
        <thead>
          <tr>
            <th>{{ _('Process') }}</th>
            <th>{{ _('Port') }}</th>
          </tr>
        </thead>
        <tbody>
      {% for service, port in services_list.items %}
          <tr>
            <td>{{ service }}</td>
            <td>{{ port }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>

{# TODO: RPMs #}

{% if interfaces %}
      <table>
        <caption>{{ _('Interfaces') }}</caption>
        <thead>
          <tr>
            <th>{{ _('Interface name') }}</th>
            <th>{{ _('IP address') }}</th>
            <th>{{ _('MAC address') }}</th>
            <th>{{ _('Netmask') }}</th>
            <th>{{ _('Added') }}</th>
            <th>{{ _('Updated') }}</th>
          </tr>
        </thead>
        <tbody>
      {% for interface in interfaces %}
          <tr>
            <td>{{ interface.i_name }}</td>
            <td>
              <a href="http://ws.arin.net/whois/?queryinput={{ interface.i_ip }}">
                {{ interface.i_ip }}
              </a>
            </td>
            <td>{{ interface.i_mac }}</td>
            <td>{{ interface.i_mask }}</td>
            <td>
              <time datetime="{{ interface.date_added }}">
                {{ interface.date_added }}
              </time>
            </td>
            <td>
              <time datetime="{{ interface.date_updated }}">
                {{ interface.date_updated }}
              </time>
            </td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
{% endif %}

<!-- <h2>{{ machine.question }}</h2> -->

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!--
<form action="{% url machines.views.vote machine_slug=machine.hostname %}" method="post">
  <fieldset>
{% for choice in machine.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br>
{% endfor %}
    <input type="submit" value="Vote">
  </fieldset>
</form>
-->

{% endblock %}
