{% extends "machines/base.html" %}
{% load i18n %}

{% block head_title %}{{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
      <h2><em>{{ machine.sys_ip }}</em> {{ machine.hostname }}</h2>

      <table>
        <caption>{{ _('Machine details') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('IP address') }}</th>
            <td>
              <a href="http://ws.arin.net/whois/?queryinput={{ machine.sys_ip }}">
                {{ machine.sys_ip }}
              </a>
            </td>
          </tr>
          <tr>
            <th>{{ _('Hostname') }}</th>
            <td>{{ machine.hostname }}</td>
          </tr>
          <tr>
            <th>{{ _('External IP address') }}</th>
            <td>
              <a href="http://ws.arin.net/whois/?queryinput={{ machine.ext_ip }}">
                {{ machine.ext_ip }}
              </a>
            </td>
          </tr>
{# TODO: uniform date format #}
          <tr>
            <th>{{ _('Added') }}</th>
            <td>
              {% if machine.date_added %}
              <time datetime="{{ machine.date_added|date:'c' }}">
                {{ machine.date_added }}
              </time>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ _('Updated') }}</th>
            <td>
            {% if machine.date_updated %}
              <time datetime="{{ machine.date_updated|date:'c'|default:'0000-00-00T00:00:00.000000' }}">
                {{ machine.date_updated }}
              </time>
            {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ _('Scanned') }}</th>
            <td>
              {% if machine.date_scanned %}
              <time datetime="{{ machine.date_scanned|date:'c' }}">
                {{ machine.date_scanned }}
              </time>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <caption>{{ _('System') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('Kernel release') }}</th>
            <td>{{ system.kernel_rel }}</td>
          </tr>
          <tr>
            <th>{{ _('RedHat release') }}</th>
            <td>{{ system.rh_rel }}</td>
          </tr>
          <tr>
            <th>{{ _('NFS mounted?') }}</th>
            <td>{{ system.nfs }}</td>
          </tr>
          <tr>
            <th>{{ _('Updated') }}</th>
            <td>
              {% if services.date_updated %}
              <time datetime="{{ services.date_updated|date:'c' }}">
                {{ system.date_updated }}
              </time>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <caption>{{ _('Services listening') }}</caption>
        <!--
          {{ _('Updated') }} <time datetime="{{ services.date_updated|date:'c' }}">
            {{ system.date_updated }}
          </time>
        -->
        <thead>
          <tr>
            <th>{{ _('Process') }}</th>
            <th>{{ _('Port') }}</th>
          </tr>
        </thead>
        <tbody>
      {% for service, port in services_list.items %}
          <tr>
            <td>{{ service }}</td>
            <td>{{ port }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>

{# TODO: RPMs #}
      <!--
        {{ _('Updated') }} <time datetime="{{ rpms.date_updated|date:'c' }}">
          {{ rpms.date_updated }}
        </time>
      -->
      <h3>RPMs</h3>
      {% if rpms %}
      <ul>
        {% for rpm in rpms %}
        <li>{{ rpm }}</li>
        {% endfor %}
      </ul>
      {% endif %}

{% if interfaces %}
      <table>
        <caption>{{ _('Interfaces') }}</caption>
        <thead>
          <tr>
            <th>{{ _('Interface name') }}</th>
            <th>{{ _('IP address') }}</th>
            <th>{{ _('MAC address') }}</th>
            <th>{{ _('Netmask') }}</th>
            <th>{{ _('Added') }}</th>
            <th>{{ _('Updated') }}</th>
          </tr>
        </thead>
        <tbody>
      {% for interface in interfaces %}
          <tr>
            <td>{{ interface.i_name }}</td>
            <td>
              <a href="http://ws.arin.net/whois/?queryinput={{ interface.i_ip }}">
                {{ interface.i_ip }}
              </a>
            </td>
            <td>{{ interface.i_mac }}</td>
            <td>{{ interface.i_mask }}</td>
            <td>
              {% if interface.date_added %}
              <time datetime="{{ interface.date_added|date:'c' }}">
                {{ interface.date_added }}
              </time>
              {% endif %}
            </td>
            <td>
              {% if interface.date_updated %}
              <time datetime="{{ interface.date_updated|date:'c' }}">
                {{ interface.date_updated }}
              </time>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
{% endif %}

<!-- <h2>{{ machine.question }}</h2> -->

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!--
<form action="{% url machines.views.vote machine_slug=machine.hostname %}" method="post">
  <fieldset>
{% for choice in machine.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br>
{% endfor %}
    <input type="submit" value="Vote">
  </fieldset>
</form>
-->

{% endblock %}
