{% extends "machines/base.html" %}
{% load i18n %}

{% block head_title %}{{ _('Machines') }}{% endblock %}

{% block content %}
      <h2>Machines</h2>
{% if latest_machine_list %}
      <table>
        <caption>{{ _('Machines') }}</caption>
        <tbody>
      {% for machine in latest_machine_list %}
          <tr>
            <th>{{ _('IP address') }}</th>
            <td>{{ machine.sys_ip }}</td>
          </tr>
          <tr>
            <th>{{ _('Hostname') }}</th>
            <td>{{ machine.hostname }}</td>
          </tr>
          <tr>
            <th>{{ _('external IP address') }}</th>
            <td>{{ machine.ext_ip }}</td>
          </tr>
          <tr>
            <th>{{ _('Added') }}</th>
            <td>
              <time datetime="{{ machine.date_added }}">
                {{ machine.date_added }}
              </time>
            </td>
          </tr>
          <tr>
            <th>{{ _('Updated') }}</th>
            <td>
              <time datetime="{{ machine.date_updated }}">
                {{ machine.date_updated }}
              </time>
            </td>
          </tr>
          <tr>
            <th>{{ _('Scanned') }}</th>
            <td>
              <time datetime="{{ machine.date_scanned }}">
                {{ machine.date_scanned }}
              </time>
            </td>
          </tr>
      {% endfor %}
      </table>
{% else %}
      <p>No machines are available.</p>
{% endif %}
{% endblock %}


