{% extends "../../../templates/base.html" %}
{% load i18n %}

{% block body_class %}machines{% endblock %}

{% block sidebar %}

          <h2>{{ _('Machines') }}</h2>
          <form action="{% url machine-filter %}" method="get">
          	<fieldset>
          	  <legend>{{ _('Filter Machines') }}</legend>

              <!--
              {% if all_domains %}
              <ul>
                {% for hostname, domain, ac_id in all_domains %}
                <li>{{ hostname }} {{ domain }} (ac file {{ ac_id }})</li>
                {% endfor %}
              </ul>
              {% endif %}
              -->

          	  <label for="machine-hostname">{{ _('Select by <strong>hostname</strong>') }}</label>
              <select name="machine_hostname" id="machine-hostname">
                <option selected value="">*</option>
              {% for m in all_machines_hn %}
                <option value="{% url machines-detail machine_slug=m.hostname %}">{{ m.hostname }} ({{ m.sys_ip }})</option>
              {% endfor %}
              </select>

          	  <label for="machine-ip">{{ _('Select by <strong>IP address</strong>') }}</label>
              <select name="machine_ip" id="machine-ip">
                <option selected value="">*</option>
              {% for m in all_machines_ip %}
                <option value="{% url machines-detail machine_slug=m.hostname %}">{{ m.sys_ip }} ({{ m.hostname }})</option>
              {% endfor %}
              </select>

              <label for="machine-domain">{{ _('Select by <strong>domain</strong>') }}</label>
              <select name="machine_domain" id="machine-domain">
                <option selected value="">*</option>
              {% for hostname, domain, ac_id in all_domains %}
                <option value="{% url machines-detail machine_slug=hostname %}">{{ domain }}</option>
              {% endfor %}
              </select>

<!--
          	  <h3>{{ _('Select by hostname') }}</h3>
            {% if all_machines_hn %}
              <ul>
              {% for m in all_machines_hn %}
                <li><a href="{% url machines-detail machine_slug=m.hostname %}">{{ m.hostname }} ({{ m.sys_ip }})</li>
              {% endfor %}
              </ul>
            {% endif %}


          	  <h3>{{ _('Select by IP address') }}</h3>
            {% if all_machines_hn %}
              <ul>
              {% for m in all_machines_ip %}
                <li><a href="{% url machines-detail machine_slug=m.hostname %}">{{ m.sys_ip }} ({{ m.hostname }})</a></li>
              {% endfor %}
              </ul>
            {% endif %}


              <h3>{{ _('Select by domain') }}</h3>
            {% if all_machines_hn %}
              <ul>
              {% for hostname, domain, ac_id in all_domains %}
                <li><a href="{% url machines-detail machine_slug=hostname %}">{{ domain }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
-->

            </fieldset>
          </form>

          <form action="{% url ac-filter-results %}" method="get">
          	<fieldset>
          	  <legend>{{ _('Filter Apache configuration files') }}</legend>

              <script type="text/javascript">
                var urlAllDirs = '{% url ac-filter-directives-all %}';
                var urlDirs = '{% url ac-filter-directives %}';
              </script>

              <label for="ac-filter-directives">{{ _('Filter by <strong>parameter</strong>') }}</label>
              <select name="ac_parameter" id="ac-filter-directives">
<!--                <option value="">{{ _('Select parameter') }}</option> -->
                <option value="">*</option>
              </select>

              <label for="ac-filter-directives-values">{{ _('Filter by <strong>value</strong>') }}</label>
              <select name="ac_value" id="ac-filter-directives-values">
                <option value="">*</option>
              </select>

              <button class="button pill">{{ _('Submit') }}</button>


            <!--
            {% if all_domains %}
            <select name="ac_filter_domains" id="ac_filter_domains">
              {% for hostname, domain, ac_id in all_domains %}
                <option value="{{ machine.hostname }}/{{ ac_id }}">{{ domain }}</option>
              {% endfor %}
            </select>
            {% endif %}
            -->

            </fieldset>
          </form>

{% endblock %}

