{% extends "../../../templates/base.html" %}
{% load i18n %}

{% block body_class %}machines{% endblock %}

{% block sidebar %}
          <h2>{{ _('Machines') }}</h2>

          <fieldset>
            <legend>{{ _('Filter Machines') }}</legend>

            <form action="{% url machine-filter %}" method="get">
              <label for="machine-hostname">{{ _('Select by <strong>hostname</strong>') }}</label>
              <select name="machine_hostname" id="machine-hostname">
                <option selected value="">*</option>
              {% for m in all_machines_hn %}
                <option value="{{ m.hostname }}">{{ m.hostname }} ({{ m.sys_ip }})</option>
              {% endfor %}
              </select>
            </form>

            <form action="{% url machine-filter %}" method="get">
              <label for="machine-ip">{{ _('Select by <strong>IP address</strong>') }}</label>
              <select name="machine_ip" id="machine-ip">
                <option selected value="">*</option>
              {% for m in all_machines_ip %}
                <option value="{{ m.hostname }}">{{ m.sys_ip }} ({{ m.hostname }})</option>
              {% endfor %}
              </select>
            </form>

            <form action="{% url machine-filter %}" method="get">
              <label for="machine-domain">{{ _('Select by <strong>domain</strong>') }}</label>
              <select name="machine_domain" id="machine-domain">
                <option selected value="">*</option>
              {% for hostname, domain, ac_id in all_domains %}
                <option value="{{ hostname }}">{{ domain }}</option>
              {% endfor %}
              </select>
            </form>
          </fieldset>

          <form action="{% url conf-filter-results section_slug='apacheconfig' %}" method="get">
            <fieldset>
              <legend>{{ _('Filter Apache configuration files') }}</legend>

              <label for="apacheconfig-parameter">{{ _('Filter by <strong>parameter</strong>') }}</label>
              <select name="conf_parameter" id="apacheconfig-parameter">
              {% if section_slug == 'apacheconfig' and conf_parameter %}
                <option selected value="">{{ conf_parameter }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <label for="apacheconfig-value">{{ _('Filter by <strong>value</strong>') }}</label>
              <select name="conf_value" id="apacheconfig-value">
              {% if section_slug == 'apacheconfig' and conf_value %}
                <option selected value="">{{ conf_value }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <button class="button pill">{{ _('Submit') }}</button>
            </fieldset>
          </form>


          <form action="{% url conf-filter-results section_slug='phpconfig' %}" method="get">
            <fieldset>
              <legend>{{ _('Filter php.ini files') }}</legend>

              <label for="phpconfig-parameter">{{ _('Filter by <strong>parameter</strong>') }}</label>
              <select name="conf_parameter" id="phpconfig-parameter">
              {% if section_slug == 'phpconfig' and conf_parameter %}
                <option selected value="">{{ conf_parameter }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <label for="phpconfig-value">{{ _('Filter by <strong>value</strong>') }}</label>
              <select name="conf_value" id="phpconfig-value">
              {% if section_slug == 'phpconfig' and conf_value %}
                <option selected value="">{{ conf_value }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <button class="button pill">{{ _('Submit') }}</button>
            </fieldset>
          </form>

          <form action="{% url conf-filter-results section_slug='mysqlconfig' %}" method="get">
            <fieldset>
              <legend>{{ _('Filter my.cnf files') }}</legend>

              <label for="mysqlconfig-parameter">{{ _('Filter by <strong>parameter</strong>') }}</label>
              <select name="conf_parameter" id="mysqlconfig-parameter">
              {% if section_slug == 'mysqlconfig' and conf_parameter %}
                <option selected value="">{{ conf_parameter }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <label for="mysqlconfig-value">{{ _('Filter by <strong>value</strong>') }}</label>
              <select name="conf_value" id="mysqlconfig-value">
              {% if section_slug == 'mysqlconfig' and conf_value %}
                <option selected value="">{{ conf_value }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <button class="button pill">{{ _('Submit') }}</button>
            </fieldset>
          </form>


          <form action="{% url conf-filter-results section_slug='sshconfig' %}" method="get">
            <fieldset>
              <legend>{{ _('Filter sshd_config files') }}</legend>

              <label for="sshconfig-parameter">{{ _('Filter by <strong>parameter</strong>') }}</label>
              <select name="conf_parameter" id="sshconfig-parameter">
              {% if section_slug == 'sshconfig' and conf_parameter %}
                <option selected value="">{{ conf_parameter }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <label for="sshconfig-value">{{ _('Filter by <strong>value</strong>') }}</label>
              <select name="conf_value" id="sshconfig-value">
              {% if section_slug == 'sshconfig' and conf_value %}
                <option selected value="">{{ conf_value }}</option>
              {% else %}
                <option value="">*</option>
              {% endif %}
              </select>

              <button class="button pill">{{ _('Submit') }}</button>
            </fieldset>
          </form>

          <script type="text/javascript">
            filterURLs['apacheconfig'] = ['{% url ac-filter-directives-keys %}',
                                          '{% url ac-filter-directives %}'];
            filterURLs['phpconfig'] = ['{% url conf-filter-parameters-keys section_slug='phpconfig' %}',
                                       '{% url conf-filter-parameters section_slug='phpconfig' %}'];
            filterURLs['mysqlconfig'] = ['{% url conf-filter-parameters-keys section_slug='mysqlconfig' %}',
                                         '{% url conf-filter-parameters section_slug='mysqlconfig' %}'];
            filterURLs['sshconfig'] = ['{% url conf-filter-parameters-keys section_slug='sshconfig' %}',
                                       '{% url conf-filter-parameters section_slug='sshconfig' %}'];

            var confParameter = '{{ conf_parameter }}';
            var confValue = '{{ conf_value }}';
          </script>

{% endblock %}

