{% extends "machines/base.html" %}
{% load i18n %}
{% load machine_extras %}

{% block head_title %}{{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript">

$(function() {

    var $tabs = $(".system").tabs({
        spinner: 'Retrieving data ...',
        selected: 0,
        select: function(e, ui) {
            getTabs(ui.panel.id);
        },
        cache: true
    });

});


function getTabs(section) {

    var newHTML = "";

    if (section == 'sys-history') {

        $.getJSON('{% url secinv.apps.machines.views.history machine_slug=machine.hostname %}', function(data) {

            newHTML += "<table>\n<caption>{{ _('History') }}</caption>\n";
            newHTML += "<thead>\n<tr>\n";
            newHTML += "<th>{{ _('Kernel release') }}</th>\n";
            newHTML += "<th>{{ _('RedHat release') }}</th>\n";
            newHTML += "<th>{{ _('NFS') }}</th>\n";
            newHTML += "<th class="timestamp">{{ _('Modified') }}</th>\n";
            newHTML += "</tr>\n</thead>\n<tbody>\n";

            $.each(data, function(key, value) {
                var v = value.fields;

                newHTML += "\n<tr>\n<td>\n";

                if (v.kernel_rel)
                    newHTML += v.kernel_rel;

                newHTML += "\n</td>\n<td>\n";

                if (v.rh_rel)
                    newHTML += v.rh_rel;

                newHTML += "\n</td>\n<td>\n";

                if (v.nfs)
                    newHTML += v.nfs;

                newHTML += "\n</td>\n<td>\n";

                if (v.date_added)
                    newHTML += v.date_added;

                newHTML += "\n</td>\n</tr>\n";

            });

            newHTML += "\n</tbody>\n</table>\n";

            $(".system #" + section + ".ui-widget-content").html(newHTML);
            
        });
    }

}

</script>

      <hgroup id="masthead">
        <h2>{{ _('Machines') }}</h2>
        <h3>{{ machine.hostname }} <em>{{ machine.sys_ip }}</em></h3>
      </hgroup>
      <div class="clear"></div>

      <details class="differences">
        <summary>Legend</summary>
        <dl>
          <dt><figure class="added"></figure></dt>
          <dd>Added</dd>
          <dt><figure class="changed"></figure></dt>
          <dd>Changed</dd>
          <dt><figure class="deleted"></figure></dt>
          <dd>Deleted</dd>
        </dl>
      </details>

{# TODO: diff for machine #}
      <table class="view sortable">
        <caption>{{ _('Machine details') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('IP address') }}</th>
            <td>
              {{ machine.sys_ip }}
            </td>
          </tr>
          <tr>
            <th>{{ _('Hostname') }}</th>
            <td>{{ machine.hostname }}</td>
          </tr>
          <tr>
            <th>{{ _('External IP address') }}</th>
            <td>
              {{ machine.ext_ip }}
            </td>
          </tr>
{# TODO: uniform date format #}
          <tr>
            <th>{{ _('Added') }}</th>
            <td>
              {% if machine.date_added %}
              <time datetime="{{ machine.date_added|date:'c' }}">
                {{ machine.date_added }}
              </time>
              {% endif %}
            </td>
          </tr>
          <!--
          <tr>
            <th class="timestamp">{{ _('Modified') }}</th>
            <td>
            {% if machine.date_modified %}
              <time datetime="{{ machine.date_modified|date:'c'|default:'0000-00-00T00:00:00.000000' }}">
                {{ machine.date_modified }}
              </time>
            {% endif %}
            </td>
          </tr>
          -->
          <tr>
            <th>{{ _('Scanned') }}</th>
            <td>
              {% if machine.date_scanned %}
              <time datetime="{{ machine.date_scanned|date:'c' }}">
                {{ machine.date_scanned }}
              </time>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>


      <h3>{{ _('System') }}</h3>

      <section class="tabs">
        <ul>
          <li><a href="#system-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#system-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="system-latest" class="latest">

          <table>
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Kernel release') }}</th>
                <th>{{ _('RedHat release') }}</th>
                <th>{{ _('NFS') }}</th>
                <th>{{ _('IP forwarding') }}</th>
                <th>{{ _('iptables') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% differ system.diff.diff 'kernel_rel' %}{{ system.kernel_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.diff.diff 'rh_rel' %}{{ system.rh_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.diff.diff 'nfs' %}{{ system.nfs|enum:'Yes,No' }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.diff.diff 'ip_fwd' %}{{ system.ip_fwd|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.diff.diff 'iptables' %}{{ system.iptables|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td class="timestamp">
                  <time datetime="{{ system.date_added|date:'c' }}">
                    {{ system.date_added }}
                  </time>
                </td>
              </tr>
            </tbody>
          </table>

        </div><!-- #system-latest -->
        <div id="system-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Kernel release') }}</th>
                <th>{{ _('RedHat release') }}</th>
                <th>{{ _('NFS') }}</th>
                <th>{{ _('IP forwarding') }}</th>
                <th>{{ _('iptables') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for sys_ver in system_versions %}
              <tr>
                <td>
                  {% differ sys_ver.diff 'kernel_rel' %}{{ sys_ver.fields.kernel_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'rh_rel' %}{{ sys_ver.fields.rh_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'nfs' %}{{ sys_ver.fields.nfs|enum:'Yes,No' }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'ip_fwd' %}{{ sys_ver.fields.ip_fwd|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'iptables' %}{{ sys_ver.fields.iptables|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td class="timestamp">
                  <time datetime="{{ sys_ver.fields.date_added|date:'c' }}">
                    {{ sys_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #system-history -->
      </section>


      <h3>{{ _('Interfaces') }}</h3>
      <section class="tabs">
        <ul>
          <li><a href="#interfaces-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#interfaces-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="interfaces-latest" class="latest">

          <table>
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Interface name') }}</th>
                <th>{{ _('IP address') }}</th>
                <th>{{ _('MAC address') }}</th>
                <th>{{ _('Netmask') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
          {% for interface in interfaces %}
              <tr>
                <td>{% differ interface.diff.diff 'i_name' %}{{ interface.i_name }}{% enddiffer %}</td>
                <td>{% differ interface.diff.diff 'i_ip' %}{{ interface.i_ip }}{% enddiffer %}</td>
                <td>{% differ interface.diff.diff 'i_mac' %}{{ interface.i_mac }}{% enddiffer %}</td>
                <td>{% differ interface.diff.diff 'i_mask' %}{{ interface.i_mask }}{% enddiffer %}</td>
                <td class="timestamp">
                  <time datetime="{{ interface.date_added|date:'c' }}">
                    {{ interface.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #interfaces-latest -->
        <div id="interfaces-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Interface name') }}</th>
                <th>{{ _('IP address') }}</th>
                <th>{{ _('MAC address') }}</th>
                <th>{{ _('Netmask') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for interface_ver in interfaces_versions %}
              <tr>
                <td>{% differ interface_ver.diff 'i_name' %}{{ interface_ver.fields.i_name }}{% enddiffer %}</td>
                <td>{% differ interface_ver.diff 'i_ip' %}{{ interface_ver.fields.i_ip }}{% enddiffer %}</td>
                <td>{% differ interface_ver.diff 'i_mac' %}{{ interface_ver.fields.i_mac }}{% enddiffer %}</td>
                <td>{% differ interface_ver.diff 'i_mask' %}{{ interface_ver.fields.i_mask }}{% enddiffer %}</td>
                <td class="timestamp">
                  <time datetime="{{ interface_ver.fields.date_added|date:'c' }}">
                    {{ interface_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #interfaces-history -->
      </section>


      <h3>{{ _('Services listening') }}</h3>

      <section class="tabs">
        <ul>
          <li><a href="#serv-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#serv-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="serv-latest" class="latest">

          <table>
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Process') }}</th>
                <th class="pair_port">{{ _('Port') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% if services %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in services.diff.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ services.diff.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ services.diff.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ services.date_added|date:'c' }}">
                    {{ services.date_added }}
                  </time>
                </td>
              </tr>
            {% else %}
              <tr>
                <td></td>
              </tr>
            {% endif %}
            </tbody>
          </table>

        </div><!-- #services-latest -->
        <div id="serv-history" class="history">

          <table class="nested">
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Process') }}</th>
                <th class="pair_port">{{ _('Port') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for services_h in services_versions %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in services_h.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ services_h.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ services_h.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ services_h.fields.date_added|date:'c' }}">
                    {{ services_h.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #services-history -->
      </section>


      <h3>{{ _('SSH configuration') }}</h3>

      <section class="tabs">
        <ul>
          <li><a href="#sshconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#sshconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="sshconfig-latest" class="latest">

          <table class="nested">
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Parameter') }}</th>
                <th class="pair_value">{{ _('Value') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>

    {% if sshconfig %}
        <tr>
          <td colspan="2">
            <table>
            {% for parameter, value in sshconfig.parameters_dict.items %}
              <tr>
                <td class="pair_name">
                {% spaceless %}
                  {% if parameter in sshconfig.differences %}

                    {% with sshconfig.differences|dict_get:parameter as parameter_dict %}
                      {% if parameter_dict.new and not parameter_dict.old %}
                          <ins>{{ parameter }}</ins>
                      {% else %}
                        {% if parameter_dict.new and parameter_dict.old %}
                          <mark>{{ parameter }}</mark>
                        {% endif %}

                        {% if parameter_dict.deleted %}
                          <del>{{ parameter }}</del>
                        {% endif %}
                      {% endif %}
                    {% endwith %}

                  {% else %}
                          {{ parameter }}
                  {% endif %}
                {% endspaceless %}
                </td>
                <td class="pair_value">
                {% spaceless %}
                  {% if parameter in sshconfig.differences %}

                    {% with sshconfig.differences|dict_get:parameter as parameter_dict %}
                      {% if parameter_dict.new and not parameter_dict.old %}
                          <ins>{{ parameter_dict.new }}</ins>
                      {% else %}
                        {% if parameter_dict.new and parameter_dict.old %}
                          <mark>{{ parameter_dict.new }}</mark>
                        {% endif %}

                        {% if parameter_dict.deleted %}
                          <del>{{ parameter_dict.deleted }}</del>
                        {% endif %}
                      {% endif %}
                    {% endwith %}

                  {% else %}
                          {{ value }}
                  {% endif %}
                {% endspaceless %}
                </td>
              </tr>
            {% endfor %}
            </table>
          </td>
          <td class="timestamp">
            <time datetime="{{ sshconfig.date_added|date:'c' }}">
              {{ sshconfig.date_added }}
            </time>
          </td>
        </tr>

    {% else %}
              <tr>
                <td></td>
              </tr>
    {% endif %}

            </tbody>
          </table>

        </div><!-- #sshconfig-latest -->
        <div id="sshconfig-history" class="history">

          <table class="nested">
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Parameter') }}</th>
                <th class="pair_value">{{ _('Value') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
    {% for sshconfig_h in sshconfig_history %}

        <tr>
          <td colspan="2">
            <table>
            {% for parameter, value in sshconfig_h.parameters_dict.items %}
              <tr>
                <td class="pair_name">
                {% spaceless %}
                  {% if parameter in sshconfig_h.differences %}

                    {% with sshconfig_h.differences|dict_get:parameter as parameter_dict %}
                      {% if parameter_dict.new and not parameter_dict.old %}
                          <ins>{{ parameter }}</ins>
                      {% else %}
                        {% if parameter_dict.new and parameter_dict.old %}
                          <mark>{{ parameter }}</mark>
                        {% endif %}

                        {% if parameter_dict.deleted %}
                          <del>{{ parameter }}</del>
                        {% endif %}
                      {% endif %}
                    {% endwith %}

                  {% else %}
                          {{ parameter }}
                  {% endif %}
                {% endspaceless %}
                </td>
                <td class="pair_value">
                {% spaceless %}
                  {% if parameter in sshconfig_h.differences %}

                    {% with sshconfig_h.differences|dict_get:parameter as parameter_dict %}
                      {% if parameter_dict.new and not parameter_dict.old %}
                          <ins>{{ parameter_dict.new }}</ins>
                      {% else %}
                        {% if parameter_dict.new and parameter_dict.old %}
                          <mark>{{ parameter_dict.new }}</mark>
                        {% endif %}

                        {% if parameter_dict.deleted %}
                          <del>{{ parameter_dict.deleted }}</del>
                        {% endif %}
                      {% endif %}
                    {% endwith %}

                  {% else %}
                          {{ value }}
                  {% endif %}
                {% endspaceless %}
                </td>
              </tr>
            {% endfor %}
            </table>
          </td>
          <td class="timestamp">
            <time datetime="{{ sshconfig_h.date_added|date:'c' }}">
              {{ sshconfig_h.date_added }}
            </time>
          </td>
        </tr>

    {% empty %}
              <tr>
                <td></td>
              </tr>
    {% endfor %}

            </tbody>
          </table>

        </div><!-- #sshconfig-history -->
      </section>



      <h3>{{ _('RPMs') }}</h3>
      <section class="tabs">
        <ul>
          <li><a href="#rpms-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#rpms-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="rpms-latest" class="latest">
          <h4 class="group">{{ _('Installed RPMs') }}</h4>

          {% if rpms %}
          <p class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ rpms.date_added|date:'c' }}">
              {{ rpms.date_added }}
            </time>
          </p>
          <div class="clear"></div>

          <ul>
            {% for rpm in rpms.installed %}
            <li>{{ rpm }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <div class="clear"></div>
          {% endif %}
        </div><!-- #rpms-latest -->
        <div id="rpms-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Installed') }}</th>
                <th>{{ _('Removed') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
    {% for rpms_h in rpms_history %}
              <tr>
                <td>
                  {% if rpms_h.differences.added %}
                  <ul>
                    {% for rpm in rpms_h.differences.added %}
                    <li><ins>{{ rpm }}</ins></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </td>
                <td>
                  {% if rpms_h.differences.deleted %}
                  <ul>
                    {% for rpm in rpms_h.differences.deleted %}
                    <li><del class="visible">{{ rpm }}</del></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </td>
                <td class="timestamp">
                  <time datetime="{{ rpms_h.date_added|date:'c' }}">
                    {{ rpms_h.date_added }}
                  </time>
              </tr>
    {% empty %}
              <tr>
                <td></td>
              </tr>
    {% endfor %}
            </tbody>
          </table>

        </div><!-- #rpms-history -->
      </section>


{% endblock %}
