{% extends "machines/base.html" %}
{% load i18n %}
{% load machine_extras %}

{% block head_title %}{{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript">

$(function() {

    var $tabs = $(".system").tabs({
        spinner: 'Retrieving data ...',
        selected: 0,
        select: function(e, ui) {
            getTabs(ui.panel.id);
        },
        cache: true
    });

});


function getTabs(section) {

    var newHTML = "";

    if (section == 'sys-history') {

        $.getJSON('{% url history machine_slug=machine.hostname %}', function(data) {

            newHTML += "<table>\n<caption>{{ _('History') }}</caption>\n";
            newHTML += "<thead>\n<tr>\n";
            newHTML += "<th>{{ _('Kernel release') }}</th>\n";
            newHTML += "<th>{{ _('RedHat release') }}</th>\n";
            newHTML += "<th>{{ _('NFS') }}</th>\n";
            newHTML += '<th class="timestamp">{{ _('Modified') }}</th>\n';
            newHTML += "</tr>\n</thead>\n<tbody>\n";

            $.each(data, function(key, value) {
                var v = value.fields;

                newHTML += "\n<tr>\n<td>\n";

                if (v.kernel_rel)
                    newHTML += v.kernel_rel;

                newHTML += "\n</td>\n<td>\n";

                if (v.rh_rel)
                    newHTML += v.rh_rel;

                newHTML += "\n</td>\n<td>\n";

                if (v.nfs)
                    newHTML += v.nfs;

                newHTML += "\n</td>\n<td>\n";

                if (v.date_added)
                    newHTML += v.date_added;

                newHTML += "\n</td>\n</tr>\n";

            });

            newHTML += "\n</tbody>\n</table>\n";

            $(".system #" + section + ".ui-widget-content").html(newHTML);

        });
    }

}

</script>

      <hgroup id="masthead">
        <h2>{{ _('Machines') }}</h2>
        <h3>{{ machine.hostname }} <em>{{ machine.sys_ip }}</em></h3>
      </hgroup>
      <div class="clear"></div>

      <details class="differences">
        <summary>Legend</summary>
        <dl>
          <dt><span class="added"></span></dt>
          <dd>Added</dd>
          <dt><span class="changed"></span></dt>
          <dd>Changed</dd>
          <dt><span class="deleted"></span></dt>
          <dd>Deleted</dd>
        </dl>
      </details>

{# TODO: diff for machine #}
      <table class="view sortable">
        <caption>{{ _('Machine details') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('IP address') }}</th>
            <td>
              {{ machine.sys_ip }}
            </td>
          </tr>
          <tr>
            <th>{{ _('Hostname') }}</th>
            <td>{{ machine.hostname }}</td>
          </tr>
          <tr>
            <th>{{ _('External IP address') }}</th>
            <td>
              {{ machine.ext_ip }}
            </td>
          </tr>
{# TODO: uniform date format #}
          <tr>
            <th>{{ _('Added') }}</th>
            <td>
              {% if machine.date_added %}
              <time datetime="{{ machine.date_added|date:'c' }}">
                {{ machine.date_added }}
              </time>
              {% endif %}
            </td>
          </tr>
          <!--
          <tr>
            <th class="timestamp">{{ _('Modified') }}</th>
            <td>
            {% if machine.date_modified %}
              <time datetime="{{ machine.date_modified|date:'c'|default:'0000-00-00T00:00:00.000000' }}">
                {{ machine.date_modified }}
              </time>
            {% endif %}
            </td>
          </tr>
          -->
          <tr>
            <th>{{ _('Scanned') }}</th>
            <td>
              {% if machine.date_scanned %}
              <time datetime="{{ machine.date_scanned|date:'c' }}">
                {{ machine.date_scanned }}
              </time>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <section class="tabs">
        <ul>
          <li><a href="#system">{{ _('System') }}</a></li>
          <li><a href="#interfaces">{{ _('Interfaces') }}</a></li>
          <li><a href="#services">{{ _('Services') }}</a></li>
          <li><a href="#sshconfig">{{ _('SSH config') }}</a></li>
          <li><a href="#rpms">{{ _('RPMs') }}</a></li>
          <li><a href="#iptables">{{ _('iptables') }}</a></li>
          <li><a href="#apacheconfig">{{ _('Apache config') }}</a></li>
          <li><a href="#phpconfig">{{ _('PHP config') }}</a></li>
        </ul>
        <div id="system">

      <section class="tabs">
        <ul>
          <li><a href="#system-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#system-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="system-latest" class="latest">

          <table>
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Kernel release') }}</th>
                <th>{{ _('RedHat release') }}</th>
                <th>{{ _('NFS') }}</th>
                <th>{{ _('IP forwarding') }}</th>
                <th>{{ _('iptables') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {% differ system.version_changes.diff 'kernel_rel' %}{{ system.kernel_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.version_changes.diff 'rh_rel' %}{{ system.rh_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.version_changes.diff 'nfs' %}{{ system.nfs|enum:'Yes,No' }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.version_changes.diff 'ip_fwd' %}{{ system.ip_fwd|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td>
                  {% differ system.version_changes.diff 'iptables' %}{{ system.iptables|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td class="timestamp">
                  <time datetime="{{ system.date_added|date:'c' }}">
                    {{ system.date_added }}
                  </time>
                </td>
              </tr>
            </tbody>
          </table>

        </div><!-- #system-latest -->
        <div id="system-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Kernel release') }}</th>
                <th>{{ _('RedHat release') }}</th>
                <th>{{ _('NFS') }}</th>
                <th>{{ _('IP forwarding') }}</th>
                <th>{{ _('iptables') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for sys_ver in system_versions %}
              <tr>
                <td>
                  {% differ sys_ver.diff 'kernel_rel' %}{{ sys_ver.fields.kernel_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'rh_rel' %}{{ sys_ver.fields.rh_rel }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'nfs' %}{{ sys_ver.fields.nfs|enum:'Yes,No' }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'ip_fwd' %}{{ sys_ver.fields.ip_fwd|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td>
                  {% differ sys_ver.diff 'iptables' %}{{ sys_ver.fields.iptables|enum:'Enabled,Disabled' }}{% enddiffer %}
                </td>
                <td class="timestamp">
                  <time datetime="{{ sys_ver.fields.date_added|date:'c' }}">
                    {{ sys_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #system-history -->
      </section>


        </div><!-- #system -->
        <div id="interfaces">

      <section class="tabs">
        <ul>
          <li><a href="#interfaces-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#interfaces-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="interfaces-latest" class="latest">

          <table>
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Interface name') }}</th>
                <th>{{ _('IP address') }}</th>
                <th>{{ _('MAC address') }}</th>
                <th>{{ _('Netmask') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
          {% for interface in interfaces %}
              <tr>
                <td>{% differ interface.version_changes.diff 'i_name' %}{{ interface.i_name }}{% enddiffer %}</td>
                <td>{% differ interface.version_changes.diff 'i_ip' %}{{ interface.i_ip }}{% enddiffer %}</td>
                <td>{% differ interface.version_changes.diff 'i_mac' %}{{ interface.i_mac }}{% enddiffer %}</td>
                <td>{% differ interface.version_changes.diff 'i_mask' %}{{ interface.i_mask }}{% enddiffer %}</td>
                <td class="timestamp">
                  <time datetime="{{ interface.date_added|date:'c' }}">
                    {{ interface.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #interfaces-latest -->
        <div id="interfaces-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Interface name') }}</th>
                <th>{{ _('IP address') }}</th>
                <th>{{ _('MAC address') }}</th>
                <th>{{ _('Netmask') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for interface_ver in interfaces_versions %}
              <tr>
                <td>{% differ interface_ver.diff 'i_name' %}{{ interface_ver.fields.i_name }}{% enddiffer %}</td>
                <td>{% differ interface_ver.diff 'i_ip' %}{{ interface_ver.fields.i_ip }}{% enddiffer %}</td>
                <td>{% differ interface_ver.diff 'i_mac' %}{{ interface_ver.fields.i_mac }}{% enddiffer %}</td>
                <td>{% differ interface_ver.diff 'i_mask' %}{{ interface_ver.fields.i_mask }}{% enddiffer %}</td>
                <td class="timestamp">
                  <time datetime="{{ interface_ver.fields.date_added|date:'c' }}">
                    {{ interface_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #interfaces-history -->
      </section>

        </div><!-- #interfaces -->
        <div id="services">

      <section class="tabs">
        <ul>
          <li><a href="#services-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#services-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="services-latest" class="latest">

          <table>
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Process') }}</th>
                <th class="pair_port">{{ _('Port') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% if services %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in services.version_changes.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ services.version_changes.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ services.version_changes.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ services.date_added|date:'c' }}">
                    {{ services.date_added }}
                  </time>
                </td>
              </tr>
            {% else %}
              <tr>
                <td></td>
              </tr>
            {% endif %}
            </tbody>
          </table>

        </div><!-- #services-latest -->
        <div id="services-history" class="history">

<!--
<div id="tableContainer" class="tableContainer">
<table width="100%" class="scrollTable nested">
            <caption>{{ _('History') }}</caption>
<thead class="fixedHeader">
	<tr>
                <th class="pair_name">{{ _('Process') }}</th>
                <th class="pair_port">{{ _('Port') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
	</tr>
</thead>
<tbody class="scrollContent">
            {% for services_ver in services_versions %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in services_ver.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ services_ver.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ services_ver.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ services_ver.fields.date_added|date:'c' }}">
                    {{ services_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}

</tbody>
</table>
</div>
-->

          <table class="nested">
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Process') }}</th>
                <th class="pair_port">{{ _('Port') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for services_ver in services_versions %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in services_ver.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ services_ver.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ services_ver.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ services_ver.fields.date_added|date:'c' }}">
                    {{ services_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #services-history -->
      </section>

        </div><!-- #services -->
        <div id="sshconfig">

      <section class="tabs">
        <ul>
          <li><a href="#sshconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#sshconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="sshconfig-latest" class="latest">

          <table class="nested">
            <caption>{{ _('Current') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Parameter') }}</th>
                <th class="pair_value">{{ _('Value') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% if sshconfig %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in sshconfig.version_changes.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ sshconfig.version_changes.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ sshconfig.version_changes.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ sshconfig.date_added|date:'c' }}">
                    {{ sshconfig.date_added }}
                  </time>
                </td>
              </tr>
            {% else %}
              <tr>
                <td></td>
              </tr>
            {% endif %}
            </tbody>
          </table>

        </div><!-- #sshconfig-latest -->
        <div id="sshconfig-history" class="history">

          <table class="nested">
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="pair_name">{{ _('Parameter') }}</th>
                <th class="pair_value">{{ _('Value') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for sshconfig_ver in sshconfig_versions %}
              <tr>
                <td colspan="2">
                  <table>
                  {% for process, port in sshconfig_ver.diff.pair.merged.items %}
                    <tr>
                      <td class="pair_name">
                        {% differ sshconfig_ver.diff.pair.diff process %}{{ process }}{% enddiffer %}
                      </td>
                      <td class="pair_port">
                        {% differ sshconfig_ver.diff.pair.diff process %}{{ port }}{% enddiffer %}
                      </td>
                    </tr>
                  {% endfor %}
                  </table>
                </td>
                <td class="timestamp">
                  <time datetime="{{ sshconfig_ver.fields.date_added|date:'c' }}">
                    {{ sshconfig_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #sshconfig-history -->
      </section>
        </div><!-- #sshconfig -->
        <div id="rpms">


      <section class="tabs">
        <ul>
          <li><a href="#rpms-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#rpms-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="rpms-latest" class="latest">
          <h4 class="group">{{ _('Installed RPMs') }}</h4>

          {% if rpms %}
          <details class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ rpms.date_added|date:'c' }}">
              {{ rpms.date_added }}
            </time>
          </details>
          <div class="clear"></div>

          <ul>
            {% for rpm in rpms.installed %}
            <li>{{ rpm }}</li>
            {% endfor %}
          </ul>

          <!--
          {% with rpms.installed|join:'\n' as rpms_body %}
            {{ rpms_body|highlight }}
          {% endwith %}
          -->

          {% else %}
          <div class="clear"></div>
          {% endif %}
        </div><!-- #rpms-latest -->
        <div id="rpms-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th>{{ _('Installed') }}</th>
                <th>{{ _('Removed') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for rpms_ver in rpms_versions %}
              <tr>
                <td>
                {% if rpms_ver.diff.pair.diff.added %}
                  <ul>
                  {% for rpm in rpms_ver.diff.pair.diff.added %}
                    <li><ins>{{ rpm }}</ins></li>
                  {% endfor %}
                  </ul>
                {% endif %}
                </td>
                <td>
                {% if rpms_ver.diff.pair.diff.removed %}
                  <ul>
                  {% for rpm in rpms_ver.diff.pair.diff.removed %}
                    <li><del class="visible">{{ rpm }}</del></li>
                  {% endfor %}
                  </ul>
                {% endif %}
                </td>
                <td class="timestamp">
                  <time datetime="{{ rpms_ver.fields.date_added|date:'c' }}">
                    {{ rpms_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #rpms-history -->
      </section>

        </div><!-- #rpms -->
        <div id="iptables">

      <section class="tabs">
        <ul>
          <li><a href="#iptables-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#iptables-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="iptables-latest" class="latest">
          <h4 class="group">{{ _('iptables rule-sets') }}</h4>

          {% if iptables %}
          <details class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ iptables.date_added|date:'c' }}">
              {{ iptables.date_added }}
            </time>
          </details>
          <div class="clear"></div>

          {{ iptables.body|highlight:'ini' }}

          <div class="clear"></div>
          {% endif %}
        </div><!-- #iptables-latest -->
        <div id="iptables-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="cmp">{{ _('Compare against') }}</th>
                <th>{{ _('Revision') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for ipt_ver in iptables_versions %}
              <tr>
                <td class="cmp">
                  {% if ipt_ver.is_newest %}{{ _('(current)') }}{% else %}
                  <a href="{% url diff machine_slug=machine.hostname, section_slug='iptables', version_number=ipt_ver.version, compare_with='current' %}">{{ _('(current)') }}</a>
                  {% endif %}

                  <a href="{% url diff machine_slug=machine.hostname, section_slug='iptables', version_number=ipt_ver.version, compare_with='previous' %}">{{ _('(previous)') }}</a>
                </td>
                <td>
                  <!--{{ _('Version') }} #-->{{ ipt_ver.version }}
                </td>
                <td class="timestamp">
                  <time datetime="{{ ipt_ver.fields.date_added|date:'c' }}">
                    {{ ipt_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #iptables-history -->
      </section>

        </div><!-- #iptables -->
        <div id="apacheconfig">

      <section class="tabs">
        <ul>
          <li><a href="#apacheconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#apacheconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="apacheconfig-latest" class="latest">
        {% if apacheconfig %}
          <h4 class="group">{{ apacheconfig.filename }}</h4>

          <details class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ apacheconfig.date_added|date:'c' }}">
              {{ apacheconfig.date_added }}
            </time>
          </details>
          <div class="clear"></div>

          {{ apacheconfig_latest_body|safe }}

          <h5>{{ _('Domains in this file') }}</h5>
          {% if apacheconfig.domains %}
          <ul>
            {% for domain, ports in apacheconfig.domains.items %}
            <li>{{ domain }} ({{ ports|join:', ' }})</li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="none">{{ _('None') }}</p>
          {% endif %}

          <h5>{{ _('Includes') }}</h5>
          {% if ac_includes %}
          <ul class="hierarchy">
          {% get_nested_items 'filename' machine.id %}
          {{ ac_includes|unordered_list }}
          {% endget_nested_items %}
          </ul>
          {% else %}
          <p class="none">{{ _('None') }}</p>
          {% endif %}

        {% endif %}
        </div><!-- #apacheconfig-latest -->
        <div id="apacheconfig-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="cmp">{{ _('Compare against') }}</th>
                <th>{{ _('Filename') }}</th>
                <th>{{ _('Revision') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for ac_ver in apacheconfig_versions %}
              <tr>
                <td class="cmp">
                  {% if ac_ver.is_newest %}{{ _('(current)') }}{% else %}
                  <a href="{% url diff-ac machine_slug=machine.hostname, section_slug='httpd-conf', item_id=ac_ver.fields.id, version_number=ac_ver.version, compare_with='current' %}">{{ _('(current)') }}</a>
                  {% endif %}

                  <a href="{% url diff-ac machine_slug=machine.hostname, section_slug='httpd-conf', item_id=ac_ver.fields.id, version_number=ac_ver.version, compare_with='previous' %}">{{ _('(previous)') }}</a>
                </td>
                <td>
                  <a href="{% url httpd-conf machine_slug=machine.hostname, ac_id=ac_ver.fields.id %}">{{ ac_ver.fields.filename }}</a>
                </td>
                <td>
                  <!--{{ _('Version') }} #-->{{ ac_ver.version }}
                </td>
                <td class="timestamp">
                  <time datetime="{{ ac_ver.fields.date_added|date:'c' }}">
                    {{ ac_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #apacheconfig-history -->
      </section>

        </div><!-- #apacheconfig -->


        <div id="phpconfig">

      <section class="tabs">
        <ul>
          <li><a href="#phpconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#phpconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="phpconfig-latest" class="latest">
        {% if phpconfig %}

          <h4 class="group">{{ phpconfig.filename }}</h4>

          <details class="date">
            <strong>{{ _('Last Modified') }}</strong>
            <time datetime="{{ phpconfig.date_added|date:'c' }}">
              {{ phpconfig.date_added }}
            </time>
          </details>
          <div class="clear"></div>

          {{ phpconfig.body|highlight:'ini' }}

        {% endif %}
        </div><!-- #phpconfig-latest -->
        <div id="phpconfig-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="cmp">{{ _('Compare against') }}</th>
                <th>{{ _('Filename') }}</th>
                <th>{{ _('Revision') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for pc_ver in phpconfig_versions %}
              <tr>
                <td class="cmp">
                  {% if pc_ver.is_newest %}{{ _('(current)') }}{% else %}
                  <a href="{% url diff-ac machine_slug=machine.hostname, section_slug='php-config', item_id=pc_ver.fields.id, version_number=pc_ver.version, compare_with='current' %}">{{ _('(current)') }}</a>
                  {% endif %}

                  <a href="{% url diff-ac machine_slug=machine.hostname, section_slug='php-config', item_id=pc_ver.fields.id, version_number=pc_ver.version, compare_with='previous' %}">{{ _('(previous)') }}</a>
                </td>
                <td>
                  <a href="{% url php-config machine_slug=machine.hostname, item_id=pc_ver.fields.id %}">{{ pc_ver.fields.filename }}</a>
                </td>
                <td>
                  {{ pc_ver.version }}
                </td>
                <td class="timestamp">
                  <time datetime="{{ pc_ver.fields.date_added|date:'c' }}">
                    {{ pc_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #phpconfig-history -->
      </section>

        </div><!-- #phpconfig -->


      </section>

{% endblock %}

