{% extends "machines/base.html" %}
{% load i18n %}
{% load machine_extras %}

{% block head_title %}{{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript">

$(function() {

    var $tabs = $(".system").tabs({
        spinner: 'Retrieving data ...',
        selected: 0,
        select: function(e, ui) {
            getTabs(ui.panel.id);
        },
        cache: true
    });

});


function getTabs(section) {

    var newHTML = "";

    if (section == 'sys-history') {

        $.getJSON('{% url history machine_slug=machine.hostname %}', function(data) {

            newHTML += "<table>\n<caption>{{ _('History') }}</caption>\n";
            newHTML += "<thead>\n<tr>\n";
            newHTML += "<th>{{ _('Kernel release') }}</th>\n";
            newHTML += "<th>{{ _('RedHat release') }}</th>\n";
            newHTML += "<th>{{ _('NFS') }}</th>\n";
            newHTML += '<th class="timestamp">{{ _('Modified') }}</th>\n';
            newHTML += "</tr>\n</thead>\n<tbody>\n";

            $.each(data, function(key, value) {
                var v = value.fields;

                newHTML += "\n<tr>\n<td>\n";

                if (v.kernel_rel)
                    newHTML += v.kernel_rel;

                newHTML += "\n</td>\n<td>\n";

                if (v.rh_rel)
                    newHTML += v.rh_rel;

                newHTML += "\n</td>\n<td>\n";

                if (v.nfs)
                    newHTML += v.nfs;

                newHTML += "\n</td>\n<td>\n";

                if (v.date_added)
                    newHTML += v.date_added;

                newHTML += "\n</td>\n</tr>\n";

            });

            newHTML += "\n</tbody>\n</table>\n";

            $(".system #" + section + ".ui-widget-content").html(newHTML);

        });
    }

}

</script>

      <hgroup id="masthead">
        <h2>{{ _('Machines') }}</h2>
        <h3>{{ machine.hostname }} <em>{{ machine.sys_ip }}</em></h3>
      </hgroup>
      <div class="clear"></div>

      <details class="differences">
        <summary>Legend</summary>
        <dl>
          <dt><span class="added"></span></dt>
          <dd>Added</dd>
          <dt><span class="changed"></span></dt>
          <dd>Changed</dd>
          <dt><span class="deleted"></span></dt>
          <dd>Deleted</dd>
        </dl>
      </details>

      <table class="view sortable">
        <caption>{{ _('Machine details') }}</caption>
        <tbody>
          <tr>
            <th>{{ _('IP address') }}</th>
            <td>
              {{ machine.sys_ip }}
            </td>
          </tr>
          <tr>
            <th>{{ _('Hostname') }}</th>
            <td>{{ machine.hostname }}</td>
          </tr>
          <tr>
            <th>{{ _('External IP address') }}</th>
            <td>
              {% if machine.ext_ip %}{{ machine.ext_ip }}{% else %}<mark class="none">{{ _('None') }}</mark>{% endif %}
            </td>
          </tr>
{# TODO: uniform date format #}
          <tr>
            <th>{{ _('Added') }}</th>
            <td>
              {% if machine.date_added %}
              <time datetime="{{ machine.date_added|date:'c' }}">
                {{ machine.date_added }}
              </time>
              {% endif %}
            </td>
          </tr>
          <!--
          <tr>
            <th class="timestamp">{{ _('Modified') }}</th>
            <td>
            {% if machine.date_modified %}
              <time datetime="{{ machine.date_modified|date:'c'|default:'0000-00-00T00:00:00.000000' }}">
                {{ machine.date_modified }}
              </time>
            {% endif %}
            </td>
          </tr>
          -->
          <tr>
            <th>{{ _('Scanned') }}</th>
            <td>
              {% if machine.date_scanned %}
              <time datetime="{{ machine.date_scanned|date:'c' }}">
                {{ machine.date_scanned }}
              </time>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <section class="tabs">
        <ul>
          <li><a href="#system">{{ _('System') }}</a></li>
          <li><a href="#interfaces">{{ _('Interfaces') }}</a></li>
          <li><a href="#services">{{ _('Services') }}</a></li>
          <li><a href="#sshconfig">{{ _('SSH config') }}</a></li>
          <li><a href="#rpms">{{ _('RPMs') }}</a></li>
          <li><a href="#iptables">{{ _('iptables') }}</a></li>
          <li><a href="#apacheconfig">{{ _('Apache') }}</a></li>
          <li><a href="#phpconfig">{{ _('php.ini') }}</a></li>
          <li><a href="#mysqlconfig">{{ _('my.cnf') }}</a></li>
        </ul>
        <div id="system">
          {% include "machines/tabs/system.html" %}
        </div><!-- #system -->
        <div id="interfaces">
          {% include "machines/tabs/interfaces.html" %}
        </div><!-- #interfaces -->
        <div id="services">
          {% include "machines/tabs/services.html" %}
        </div><!-- #services -->
        <div id="sshconfig">
          {% include "machines/tabs/sshconfig.html" %}
        </div><!-- #sshconfig -->
        <div id="rpms">
          {% include "machines/tabs/rpms.html" %}
        </div><!-- #rpms -->
        <div id="iptables">
          {% include "machines/tabs/iptables.html" %}
        </div><!-- #iptables -->
        <div id="apacheconfig">
          {% include "machines/tabs/apacheconfig.html" %}
        </div><!-- #apacheconfig -->
        <div id="phpconfig">
          {% include "machines/tabs/phpconfig.html" %}
        </div><!-- #phpconfig -->
        <div id="mysqlconfig">
          {% include "machines/tabs/mysqlconfig.html" %}
        </div><!-- #mysqlconfig -->
      </section>

{% endblock %}

