{% extends "machines/base.html" %}
{% load i18n %}
{% load machine_extras %}

{% block head_title %}{% if section == 'iptables' %}{{ _('iptables') }}{% endif %}{% if section == 'httpd-conf' %}{{ _('Apache configuration file') }}: {{ obj_current.filename }}{% endif %}{% if section == 'php-config' %}{{ _('PHP configuration file') }}: {{ obj_current.filename }}{% endif %}{% if section == 'mysql-config' %}{{ _('MySQL configuration file') }}: {{ obj_current.filename }}{% endif %} | {{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
      <hgroup id="masthead">
        <h2 class="sub">{{ _('Machines') }}</h2>
        <h3 class="sub">
          <a href="{% url machines-detail machine_slug=machine.hostname %}">{{ machine.hostname }} <em>{{ machine.sys_ip }}</em></a>
        </h3>
        {% if section == 'iptables' %}
        <h4>{{ _('iptables') }}</h4>
        {% endif %}
        {% if section == 'httpd-conf' %}
        <h4>{{ _('Apache configuration file') }} <em>{{ obj_current.filename }}</em></h4>
        {% endif %}
        {% if section == 'php-config' %}
        <h4>{{ _('PHP configuration file') }} <em>{{ obj_current.filename }}</em></h4>
        {% endif %}
        {% if section == 'mysql-config' %}
        <h4>{{ _('MySQL configuration file') }} <em>{{ obj_current.filename }}</em></h4>
        {% endif %}
      </hgroup>
      <div class="clear"></div>

      <h5>{{ _('Differences between revisions') }}</h5>

      <table class="diff diff_legends" summary="Legends">
        <caption>Legends</caption>
        <thead>
          <tr>
            <th>Colors</th>
            <th class="diff_links">Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="diff_add">Added</td>
            <td>(f)irst change</td>
          </tr>
          <tr>
            <td class="diff_chg">Changed</td>
            <td>(n)ext change</td>
          </tr>
          <tr>
            <td class="diff_sub">Deleted</td>
            <td>(t)op</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>
            {% if compare_with == 'current' %}
              {{ _('Version') }} #{{ version_current }}

              {% if older_version %}
                <br>
               {% if section == 'httpd-conf' %}
                <a href="{% url diff-ac machine_slug=machine.hostname, section_slug=section, item_id=obj_current.id, version_number=version_previous, compare_with='current' %}">&larr; {{ _('Older version') }}<!-- (#{{ older_version }})--></a>
                {% else %}
                <a href="{% url diff machine_slug=machine.hostname, section_slug=section, version_number=version_previous, compare_with='current' %}">&larr; {{ _('Older version') }}<!-- (#{{ older_version }})--></a>
                {% endif %}
              {% endif %}

            {% else %}
              {{ _('Version') }} #{{ version_previous }}

              {% if older_version %}
                <br>

               {% if section == 'httpd-conf' %}
                <a href="{% url diff-ac machine_slug=machine.hostname, section_slug=section, item_id=obj_current.id, version_number=version_previous, compare_with=compare_with %}">&larr; {{ _('Older version') }}<!-- (#{{ older_version }})--></a>
                {% else %}
                <a href="{% url diff machine_slug=machine.hostname, section_slug=section, version_number=version_previous, compare_with=compare_with %}">&larr; {{ _('Older version') }}<!-- (#{{ older_version }})--></a>
                {% endif %}
              {% endif %}

            {% endif %}
            </th>
            <th class="diff_links">
            {% if compare_with == 'current' %}
              {{ _('Current') }}
            {% else %}
              {{ _('Version') }} #{{ version_current }}

              {% if newer_version %}
                <br>
               {% if section == 'httpd-conf' %}
                <a href="{% url diff-ac machine_slug=machine.hostname, section_slug=section, item_id=obj_current.id, version_number=newer_version, compare_with=compare_with %}">&rarr; {{ _('Newer version') }}<!-- (#{{ newer_version }})--></a>
                {% else %}
                <a href="{% url diff machine_slug=machine.hostname, section_slug=section, version_number=newer_version, compare_with=compare_with %}">&rarr; {{ _('Newer version') }}<!-- (#{{ newer_version }})--></a>
                {% endif %}
              {% endif %}

            {% endif %}
            </th>
          </tr>
        </tfoot>
      </table>

    {{ body_previous|diff_table:body_current }}


{% endblock %}

