{% extends "machines/base.html" %}
{% load i18n %}
{% load machine_extras %}

{% block head_title %}{{ _('Apache configuration file') }}: {{ ac.filename }} | {{ machine.hostname }} | {{ block.super }}{% endblock %}

{% block content %}
      <hgroup id="masthead">
        <h2 class="sub">{{ _('Machines') }}</h2>
        <h3 class="sub">
          <a href="{% url machines-detail machine_slug=machine.hostname %}">{{ machine.hostname }} <em>{{ machine.sys_ip }}</em></a>
        </h3>
        <h4>{{ _('Apache configuration file') }} <em>{{ ac.filename }}</em></h4>
      </hgroup>

      <section class="tabs">
        <ul>
          <li><a href="#apacheconfig-latest" class="latest">{{ _('Current') }}</a></li>
          <li><a href="#apacheconfig-history" class="history">{{ _('History') }}</a></li>
        </ul>
        <div id="apacheconfig-latest" class="latest">

      <details class="date">
        <strong>{{ _('Last Modified') }}</strong>
        <time datetime="{{ ac.date_added|date:'c' }}">
          {{ ac.date_added }}
        </time>
      </details>
      <div class="clear"></div>

      {{ ac_body|safe }}

      {{ apacheconfig_latest_body|safe }}


      <h5>{{ _('Domains') }}</h5>

      {# TODO: have client send as list, not dictionary. #}

      <h6>{{ _('Domains in this file') }}</h6>
      {% if ac.domains %}
      <ul>
        {% for domain, ports in ac.domains.items %}
        <li>{{ domain }}<!-- ({{ ports|join:', ' }})--></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h6>{{ _('In included .conf files') }}</h6>
      {% if ac.get_domains %}
      <ul>
        {% for domain, ports, i_ac in ac.get_domains %}
        <li><a href="{% url httpd-conf machine_slug=ac.machine.hostname, ac_id=i_ac.id %}">{{ domain }}</a><!--({{ ports|join:', ' }})--></li>
        {% endfor %}
      </ul>
      {% endif %}

<!--
      <h5>{{ _('Includes') }}</h5>
      {% if apacheconfig_includes %}
      <ul>
        {% for fn, id, ac, body in apacheconfig_includes %}
        <li>
          <strong><a href="{% url httpd-conf machine_slug=machine.hostname, ac_id=id %}">{{ fn }}</a></strong>
          {% if ac.domains %}
          <ul>
            {% for domain, ports in ac.domains.items %}
            <li>{{ domain }} ({{ ports|join:', ' }})</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
-->

        </div><!-- #apacheconfig-latest -->
        <div id="apacheconfig-history" class="history">

          <table>
            <caption>{{ _('History') }}</caption>
            <thead>
              <tr>
                <th class="cmp">{{ _('Compare against') }}</th>
                <th>{{ _('Filename') }}</th>
                <th>{{ _('Revisions') }}</th>
                <th class="timestamp">{{ _('Modified') }}</th>
              </tr>
            </thead>
            <tbody>
            {% for ac_ver in apacheconfig_versions %}
              <tr>
                <td class="cmp">
                  {# Do not display '(current)' link if this is the latest version for the filename #}
                  {% if ac_ver.is_newest %}{{ _('(current)') }}{% else %}
                  <a href="{% url diff machine_slug=machine.hostname, section_slug='iptables', version_number=ac_ver.version, compare_with='current' %}">{{ _('(current)') }}</a>
                  {% endif %}

                  <a href="{% url diff machine_slug=machine.hostname, section_slug='iptables', version_number=ac_ver.version, compare_with='previous' %}">{{ _('(previous)') }}</a>
                </td>
                <td>
                  <a href="{% url httpd-conf machine_slug=machine.hostname, ac_id=ac_ver.fields.id %}">{{ ac_ver.fields.filename }}</a>
                </td>
                <td>
                  {{ _('Version') }} #{{ ac_ver.version }}
                </td>
                <td class="timestamp">
                  <time datetime="{{ ac_ver.fields.date_added|date:'c' }}">
                    {{ ac_ver.fields.date_added }}
                  </time>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div><!-- #apacheconfig-history -->
      </section>


{% endblock %}

