{% extends "machines/base.html" %}
{% load compress %}
{% load i18n %}

{% block head_title %}{{ _('Machines') }} | {{ block.super }}{% endblock %}

{% block extrahead %}
  {% compress css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/datatables.css" media="screen">
  {% endcompress %}
  <script type="text/javascript"
          src="{{ MEDIA_URL }}js/jquery.dataTables.min.js"></script>
  <script type="text/javascript"
          src="{{ MEDIA_URL }}js/machines_table.js"></script>
{% endblock %}

{% block content %}
<hgroup id="masthead">
  <h2>{{ _('Machines') }}</h2>
</hgroup>
<div>
  <table class="display" id="machines-index" data-src="{% url datatables section_slug='machines' %}">
    <thead>
      <tr>
        <th>{{ _('ID') }}</th>
        <th>{{ _('IP') }}</th>
        <th>{{ _('Hostname') }}</th>
        <th>{{ _('Ext IP') }}</th>
        <th>{{ _('httpd') }}</th>
        <th>{{ _('mysqld') }}</th>
        <th>{{ _('openvpn') }}</th>
        <th>{{ _('NFS') }}</th>
        <th class="timestamp">{{ _('Added') }}</th>
        <th class="timestamp">{{ _('Scanned') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="10" class="dataTables_empty">
          {{ _('Loading data from server') }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>{{ _('ID') }}</th>
        <th>{{ _('IP') }}</th>
        <th>{{ _('Hostname') }}</th>
        <th>{{ _('Ext IP') }}</th>
        <th>{{ _('httpd') }}</th>
        <th>{{ _('mysqld') }}</th>
        <th>{{ _('openvpn') }}</th>
        <th>{{ _('NFS') }}</th>
        <th>{{ _('Added') }}</th>
        <th>{{ _('Scanned') }}</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
