{% extends "machines/base.html" %}
{% load i18n %}

{% block head_title %}{{ _('Machines') }} | {{ block.super }}{% endblock %}

{% block extrahead %}

<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/demo_table.css" media="screen">

<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
    var oCache = {
        iCacheLower: -1
    };
    
    function fnSetKey(aoData, sKey, mValue)
    {
        for (var i = 0, iLen = aoData.length; i < iLen; i++)
        {
            if (aoData[i].name == sKey)
            {
                aoData[i].value = mValue;
            }
        }
    }
    
    function fnGetKey(aoData, sKey)
    {
        for (var i = 0, iLen = aoData.length; i < iLen; i++)
        {
            if (aoData[i].name == sKey)
            {
                return aoData[i].value;
            }
        }
        return null;
    }
    
    function fnDataTablesPipeline(sSource, aoData, fnCallback) {
        var iPipe = 5; /* Ajust the pipe size */
        
        var bNeedServer = false;
        var sEcho = fnGetKey(aoData, "sEcho");
        var iRequestStart = fnGetKey(aoData, "iDisplayStart");
        var iRequestLength = fnGetKey(aoData, "iDisplayLength");
        var iRequestEnd = iRequestStart + iRequestLength;
        oCache.iDisplayStart = iRequestStart;
        
        /* outside pipeline? */
        if (oCache.iCacheLower < 0 ||
            iRequestStart < oCache.iCacheLower ||
            iRequestEnd > oCache.iCacheUpper)
        {
            bNeedServer = true;
        }
        
        /* sorting etc changed? */
        if (oCache.lastRequest && !bNeedServer)
        {
            for (var i=0, iLen = aoData.length; i < iLen; i++)
            {
                if (aoData[i].name != "iDisplayStart" &&
                    aoData[i].name != "iDisplayLength" &&
                    aoData[i].name != "sEcho")
                {
                    if (aoData[i].value != oCache.lastRequest[i].value)
                    {
                        bNeedServer = true;
                        break;
                    }
                }
            }
        }

        /* Store the request for checking next time around */
        oCache.lastRequest = aoData.slice();

        if (bNeedServer)
        {
            if (iRequestStart < oCache.iCacheLower)
            {
                iRequestStart = iRequestStart - (iRequestLength * (iPipe - 1));

                if (iRequestStart < 0)
                {
                    iRequestStart = 0;
                }
            }

            oCache.iCacheLower = iRequestStart;
            oCache.iCacheUpper = iRequestStart + (iRequestLength * iPipe);
            oCache.iDisplayLength = fnGetKey(aoData, "iDisplayLength");
            fnSetKey(aoData, "iDisplayStart", iRequestStart);
            fnSetKey(aoData, "iDisplayLength", iRequestLength * iPipe);

            $.getJSON(sSource, aoData, function (json) {
                /* Callback processing */
                oCache.lastJson = jQuery.extend(true, {}, json);

                if ( oCache.iCacheLower != oCache.iDisplayStart )
                {
                    json.aaData.splice(0, oCache.iDisplayStart - oCache.iCacheLower);
                }
                json.aaData.splice(oCache.iDisplayLength, json.aaData.length);

                fnCallback(json);
            });
        }
        else
        {
            json = jQuery.extend(true, {}, oCache.lastJson);
            json.sEcho = sEcho; /* Update the echo for each response */
            json.aaData.splice(0, iRequestStart-oCache.iCacheLower);
            json.aaData.splice(iRequestLength, json.aaData.length);
            fnCallback(json);
            return;
        }
    }


    $(document).ready(function() {
        $('#machines-index').dataTable({
            "bProcessing": false,
            "bServerSide": true,
            "sAjaxSource": "{% url datatables section_slug='machines' %}",
            "fnServerData": fnDataTablesPipeline,
            "aoColumns": [
                /* ID */
                {'bSearchable': false, 'bVisible': false},
                /* IP address */
                null,
                /* Hostname */
                null,
                /* External IP */
                null,
                /* httpd */
                null,
                /* mysqld */
                null,
                /* openvpn */
                null,
                /* NFS */
                null,
                /* Added */
                null,
                /* Scanned */
                null
            ]
        });


    });


</script>

{% endblock %}

{% block content %}
      <hgroup id="masthead">
        <h2>{{ _('Machines') }}</h2>
<!--
{% if machines.object_list %}
        <h3 class="pagination">
          <span class="current">
          {% blocktrans with machines.number as page_num with machines.paginator.num_pages as page_count  %}
            Page {{ page_num }} of {{ page_count }}
          {% endblocktrans %}
          </span>

          <span class="step-links">
          {% if machines.has_previous %}
            <a href="?page={{ machines.previous_page_number }}">&larr; {{ _('Previous') }}</a>
          {% endif %}

          {% if machines.has_next %}
            <a href="?page={{ machines.next_page_number }}">{{ _('Next') }} &rarr;</a>
          {% endif %}
          </span>
        </h3>
{% endif %}
-->
      </hgroup>

{% if machines.object_list %}

      <div id="dynamic">
        <table class="display" id="machines-index">
          <thead>
            <tr>
              <th>{{ _('ID') }}</th>
              <th>{{ _('IP') }}</th>
              <th>{{ _('Hostname') }}</th>
              <th>{{ _('Ext IP') }}</th>
              <th>{{ _('httpd') }}</th>
              <th>{{ _('mysqld') }}</th>
              <th>{{ _('openvpn') }}</th>
              <th>{{ _('NFS') }}</th>
              <th class="timestamp">{{ _('Added') }}</th>
              <th class="timestamp">{{ _('Scanned') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="10" class="dataTables_empty">
                {{ _('Loading data from server') }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>{{ _('ID') }}</th>
              <th>{{ _('IP') }}</th>
              <th>{{ _('Hostname') }}</th>
              <th>{{ _('Ext IP') }}</th>
              <th>{{ _('httpd') }}</th>
              <th>{{ _('mysqld') }}</th>
              <th>{{ _('openvpn') }}</th>
              <th>{{ _('NFS') }}</th>
              <th>{{ _('Added') }}</th>
              <th>{{ _('Scanned') }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="spacer"></div>


{% else %}
      <p>{{ _('No machines are available.') }}</p>
{% endif %}

{% endblock %}

