{% extends "machines/base.html" %}
{% load i18n %}

{% block head_title %}
{% if query %}{{ _('Search results: ') }}{{ query|escape }}{% else %}{{ _('Search') }}{% endif %} | {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Search</h2>

    <form action="." method="get">
      <table>
        {{ form.as_table }}
        <tr>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="Search">
          </td>
        </tr>
      </table>
    </form>

{% if query %}
    <h3>{{ _('Search results:') }} <strong>{{ query|escape }}</strong> ({{ results|length }})</h3>

    <ul>
  {% for result in results %}
      <li>
        <a href="">{{ result.hostname }}</a>
      </li>
  {% empty %}
      <li>{{ _('No results found.') }}</li>
  {% endfor %}
    </ul>
{% else %}
<!--
            <form action="." method="get">
              <label for="q">{{ _('Search') }}</label>
              <input type="search" name="q" id="q" value="{{ query|escape }}">
              <input type="submit" class="button pill pink" value="Search">
            </form>
-->
{% endif %}

{% endblock %}

