{% extends "machines/base.html" %}
{% load i18n %}
{% load search %}

{% block head_title %}
{% if query %}{{ _('Search results: ') }}{{ query|escape }}{% else %}{{ _('Search') }}{% endif %} | {{ block.super }}
{% endblock %}

{% block content %}
      <hgroup id="masthead">
        <h2 class="sub">{{ _('Machines') }}</h2>
        <h3 class="sub">{{ _('Search results') }}</h3>
        <h4>{{ query|escape }} ({{ results|length }})</h4>
      </hgroup>
      <div class="clear"></div>

    <!--
    <form action="." method="get">
      <table>
        {{ form.as_table }}
        <tr>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="Search">
          </td>
        </tr>
      </table>
    </form>
    -->

{% if query %}
    <!--
    <h3>{{ _('Search results:') }} <strong>{{ query|escape }}</strong> ({{ results|length }})</h3>
    -->
    <ul>
  {% for result in results %}
      <li>
        <a href="{% url apps.machines.views.detail machine_slug=result.slug %}">
          {{ result.hostname|highlight:terms }} ({{ result.sys_ip }})
        </a>
        {% searchexcerpt terms 6 1 as content %}
          {{ result.excerpt|safe }}
        {% endsearchexcerpt %}

       <p class="context">{{ content.excerpt|highlight:terms }}</p>
      </li>
  {% empty %}
      <li>{{ _('No results found.') }}</li>
  {% endfor %}
    </ul>
{% else %}
<!--
            <form action="." method="get">
              <label for="q">{{ _('Search') }}</label>
              <input type="search" name="q" id="q" value="{{ query|escape }}">
              <input type="submit" class="button pill pink" value="Search">
            </form>
-->
{% endif %}

{% endblock %}

