{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{{ _('LittleSIS') }}{% endblock %}</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="{{ MEDIA_URL }}js/html5.js"></script>
    <link rel="shortcut icon" type="image/x-icon"
          href="{{ MEDIA_URL }}img/favicon.ico">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/base.css" media="screen">
    <link rel="stylesheet" type="text/css"
          href="{{ MEDIA_URL }}css/login.css" media="screen">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div id="wrap" class="row">
      <h1>{{ _('LittleSIS') }}</h1>
      <section id="content" class="content col_13 col">
{% block content %}{% endblock %}
      </section><!-- #content -->
    </div><!-- #wrap -->
  </body>
</html>
